.mega-menu > li.opn-active-menu > a, .rev_slider_wrapper .text-bg,
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a,
.services .vc_icon_element-inner span{
	color: $primary_color !important;
}
//color
.product-shortcode ul.products > li .box_product:hover .product_social ul li a i,
.right_header ul li.customlinks .top-search button i,
.footer-v6 .widget_nav_menu ul li a:hover,
.footer-v6 .copyright address a:hover,
.btn-slide7,
.header-v6 .search-block-top > .btn-search:hover,
.header-v6 .mega-menu > li a:hover,
.header-v1 .header-top .mega-menu li a:hover,
.header-v3 .mega-menu li ul li a:hover,
.content_client a, .content_tools a,
.header-v4 .right_header a:hover,
.header-v5 .mega-menu > li a:hover,
.header-v5 .mega-menu li ul li a:hover,
.header-v1 .header-top .mega-menu li a:hover,
a:focus, a:hover,
.twitter-tweet .tweet-text p,
.footer-v5 .copyright address a:hover,
address a:focus, address a:hover,
.header-contact .header-social ul li a i,
.header-contact .link-contact p i,
.footer-v5 input.submit:hover,
.blog-content-2:hover .title-blogpost a,
ul.products > li .product-content .product_social ul li a,
.widget_calendar table tfoot td a,
.widget_calendar table caption,
.header-sticky .main-navigation ul li.opn_active_menu > a,
.contact-info > ul > li > a:hover,
.load-more .fa-spinner, .loadmore .fa-spinner,
.app_screenshot .screen-default h3,
.comments-area .reply a:hover,
.time-desc .letter,
.time-desc .hours,
.name_author,
.tagcloud a:hover,
.widget_post_blog .blog-item:hover .post-name a,
.button-readmore a,
.blog-main:hover .title_blog a,
.event-2 .load-more a,
.event-2 .row-event:hover .event_post_content .title-eventpost a,
.event-2 .row-event:hover .event_post_date,
.event-2 .row-event:hover .event_post_content .detail,
.header-sticky .main-navigation ul li > a:hover,
a:hover,
.scroll-to-top,
.pricing-content:hover h3,
.pricing-sign .btn,
.pricing-list li.erro i,
.pricing-content .price-center span,
.load-more a,
.row-event:hover .event_post_date,
.row-event:hover .event_post_content .detail,
ul.products > li .box_product:hover .product-content h3 a,
.widget_price_filter .price_slider_amount .price_label span,
.widget_price_filter .price_slider_amount .button,
ul.product-categories li::after,
ul.product-categories li:hover a,
ul.product-categories li.current-cat a,
.single-product.woocommerce .left_summary .product_social ul li a:hover i,
.single-product.woocommerce .right_summary .price span.amount,
.single-product.woocommerce .right_summary form.cart .button,
.btn-default,
.wpcf7-form .contact-form .contact-submit.form-submit::before,
.wpcf7-form .contact-form .btn-default input[type="submit"],
.event-list-content .title-eventpost a,
.calendar-time,
ul.products > li .box_product:hover .button:hover,
.header-v6 .top-search button i,
.header-v6 .widget_shopping_cart_content ul li .remove i:hover,
.widget_categories li a:hover, .widget_meta li a:hover, .widget_pages li a:hover, .widget_nav_menu li a:hover, .widget_archive li a:hover{
	color: $primary_color;
}
//background
.header-v6 .mega-menu > li.opn-active-menu a::after,
.header-v6 .mega-menu > li a::after,
.footer-v6 .footer-bottom .footer-social ul li a:hover,
.footer-v6 input.submit,
.page-contact-us-2 .wpcf7-form .contact-form .contact-submit a:hover,
.portfolio-showcase .button-group button.is-checked:after,
.banner-bottom-2,
.member-content.type2:hover img,
.form-startup .bg-gradient::before,
.service-startup-bg h3::before,
.our-solution .vc_images_carousel .vc_carousel-indicators li::before,
.our-solution .vc_images_carousel .vc_carousel-indicators .vc_active,
.statup_smart.bg-gradient::before,
.main-slider .btn-slider-4:hover,
.header-v4 .right_header a,
.testimonial_2 .bg-gradient::before,
.portfolio_box .portfolio_bottom_content .portfolio-link:hover,
.portfolio_box .portfolio_bottom_content .portfolio-zoom,
.portfolio_box .portfolio_info_box .portfolio_top_content .name-portfolio::after,
.service-icon-left .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner::before,
.footer-v5 .footer-bottom .footer-social ul li a:hover,
.footer-v5 input.submit,
.mega-menu > li > a::before,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.app_screenshot .screen-default a:hover, .app_screenshot .screen-default a:focus,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active:focus, .btn-default:focus:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus:active,
.btn.btn-icon:hover, .btn.btn-icon:focus, .btn.btn-icon:active, .btn.btn-icon:active:focus, .btn.btn-icon:focus:active,
.app_screenshot .tp-bullet:hover, 
.app_screenshot .tp-bullet.selected,
.app_screenshot .apps-default::before,
.app_screenshot .screen-default a,
.app_screenshot .screen-default h3::after,
.calendar-time,
.header-v2,
.gallery button.default:hover,
.character_description blockquote::after,
.scrollbar-inner.scrollbar-comment > .scroll-element .scroll-bar,
.form-submit .btn-primary,
.pagination li:hover .page-numbers,
.pagination li .page-numbers.current,
.footer-v2,
.contact-2 .btn,
.event-2 .row-event:hover .event_post_date::before,
.blog-style:hover,
.btn-primary,
.pricing-content:hover .pricing-sign .btn,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus, .btn-default:focus:active,
.row-event:hover .event_post_date::before,
.amount-content .img-icon,
.product-shortcode ul.products > li .product-content .product_social ul li a:hover,
.brands-container .owl-controls .owl-nav > div:hover,
.banner-bottom .right-banner a:hover,
.widget_price_filter .price_slider_amount .button:hover,
.product-filter-isotope .tabs-fillter .nav-tabs li a.active,
.product-filter-isotope .tabs-fillter .nav-tabs li a:hover,
.single-product.woocommerce .right_summary form.cart .button:hover,
.woocommerce-tabs ul.wc-tabs li.opn-active-menu a, .woocommerce-tabs ul.wc-tabs li.active a,
.woocommerce-tabs ul.wc-tabs li a:hover,
ul.products > li .box_product:hover .button,
.event-list-item:hover{
	background-color: $primary_color;
}
.ult_tabmenu.style3 > li.ult_tab_li.current,
.vc_progress_bar .vc_single_bar.progress-bar-style2 .vc_bar,
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a:focus, .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a:hover,
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a{
	background-color: $primary_color !important;
}
//Background Gradient
.vc_progress_bar .vc_single_bar .vc_bar,
.member-content.type1:hover .bg-gradient::before,
.product_widget_content:hover::before,
.widget_price_filter .ui-slider .ui-slider-range,
.blog-main:focus .bg-gradient::before, .blog-item:focus .bg-gradient::before, .blog-main:hover .bg-gradient::before, .blog-item:hover .bg-gradient::before,
table tr th,
.header-v1,
.slotholder::before,
.avatar_author::before,
.fixed-header .header-v2.is-sticky .header-top,
.footer-v1::after,
.member-content:hover .member-img::before,
.vc_tta-panel.vc_active::before, .bg-gradient::before,
.header-v3.is-sticky .header-top{
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, $highlight_color 0%, $primary_color 100%, $primary_color 100%) repeat scroll 0 0;
}
.side-breadcrumb::after{
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, $primary_color 0%, $highlight_color 100%, $highlight_color 100%) repeat scroll 0 0;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.blog-main .bg-gradient::before, .blog-item .bg-gradient::before,
.pricing-content .price::before,
.side-breadcrumb::before{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, $highlight_color 0%, $primary_color 100%, $primary_color 100%) repeat scroll 0 0 !important;
}

//border
.single-portfolio-content .owl-theme .owl-dots .owl-dot span,
.app_screenshot .tp-bullet:hover, .app_screenshot .tp-bullet.selected,
.our-solution .vc_images_carousel .vc_carousel-indicators li,
.our-solution .vc_images_carousel .vc_carousel-indicators .vc_active,
.service-startup .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner,
.service-startup .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner::after,
ul.products > li .box_product:hover .button:hover,
ul.products > li .box_product:hover .button,
.vc_progress_bar .vc_single_bar,
.btn-default,
.woocommerce-tabs ul.wc-tabs li a:hover,
.woocommerce-tabs ul.wc-tabs li.opn-active-menu a, .woocommerce-tabs ul.wc-tabs li.active a,
.single-product.woocommerce .right_summary form.cart .button,
.product-filter-isotope .tabs-fillter .nav-tabs li a:hover,
.product-filter-isotope .tabs-fillter .nav-tabs li a.active,
.widget_price_filter .price_slider_amount .button,
.banner-bottom .right-banner a:hover,
.brands-container .owl-controls .owl-nav > div:hover,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active:focus, .btn-default:focus:active,
.app_screenshot .screen-default h3::before,
.comments-area .reply a:hover,
.form-submit .btn-primary,
.footer-v3 .blog-item:hover .blog-img,
.pagination li:hover .page-numbers,
.tagcloud a:hover,
.pagination li .page-numbers.current,
.button-readmore a,
.contact-2 .btn,
.blog-style:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus:active,
.btn-primary,
.pricing-sign .btn,
.product-shortcode ul.products > li .box_product:hover .product_social ul li a{border: 1px solid $primary_color;}
.ult_tabmenu.style3 li.ult_tab_li.current:not(:first-child),
.ult_tabmenu.style3 > li.ult_tab_li.current,
.app_screenshot .apps-default.active::after,
.btn.btn-icon:hover, .btn.btn-icon:focus, .btn.btn-icon:active, .btn.btn-icon:active:focus, .btn.btn-icon:focus:active
{
	border: 1px solid $primary_color !important;
}
.scroll-to-top,
.event-2 .row-event:hover .event_post_content{border: 2px solid $primary_color;}
.event-2 .event-content:nth-child(2n) .row-event:hover .event_post_content .event-thumb::after,
.event-content:nth-child(2n) .row-event:hover .event_post_content .event-thumb::after{
	border-right-color:$primary_color;
}
.event-2 .row-event:hover .event_post_content .event-thumb::after,
.row-event:hover .event_post_content .event-thumb::after{border-left-color:$primary_color;}
//background
.header-v6 .right_header ul li.customlinks a.cart_label,
.product-shortcode.product_layout_2 .add-to-wishlist a:hover,
.product-shortcode.product_layout_2 ul.products > li .box_product .button.add_to_compare:hover,
.product-shortcode.product_layout_2 ul.products > li .box_product .button,
.btn-primary:hover, .app_screenshot .screen-default a:hover{
	background: $highlight_color;
}
.vc_progress_bar .vc_single_bar.progress-bar-style2:nth-child(2n) .vc_bar{
	background: $highlight_color !important;
}
.btn-primary:hover{
	border: 1px solid $highlight_color;
}
.header-v6 .right_header ul li.customlinks .shopping_bag p,
.product-shortcode.product_layout_2 ul.products > li .box_product .button.add_to_compare,
.product-shortcode.product_layout_2 .add-to-wishlist a,
.product-shortcode.product_layout_2 ul.products > li .box_product .product-content span.price .amount,
.riven-post-like i, .portfolio_box.portfolio_box_2 .portfolio_bottom_content .portfolio-zoom, .load-more a:hover{
	color: $highlight_color;
}
