body {
    outline: none;
}
.riven_vc_icon {
    background-image: url("../images/logo-map.png") !important;
    background-position: -5px -3px !important;
}
#redux_rAds{display: none;}
#TB_ajaxContent {
    background: #fff;
}
#TB_window {
    z-index: 100050 !important;
}
#TB_overlay {
    z-index: 100050 !important;
}
/* Post Options */
.postoptions {
    padding: 0px;
    padding-top: 0;
}
.postoptions table {
    width: 100%;
}
.postoptions select,
.postoptions textarea,
.postoptions input[type=text] {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 7px;
    background: #fff;
}
.postoptions textarea {
    height: 150px;
}
.postoptions input[type=button] {
    margin-right: 3px;
}
.postoptions input[type=checkbox] {
    padding: 3px;
}
.postoptions .box-option {
    width: 100%;
    padding: 5px 0 0 0;
    margin-right: 15px;
    background: transparent;
}
.postoptions .box-option.radio,
.postoptions .box-option.checkbox {
    padding-top: 15px;
}
.postoptions .box-info {
    padding: 0;
    color: #444;
    font: italic normal 11px/16px verdana, Arial, Helvetica, sans-serif;
}
.hidden {
    display: none;
}
.postoptions label {
    display: inline;
}
.postoptions select:focus,
.postoptions input:focus,
.postoptions textarea:focus {
    background: #fff;
}
.hide {
    display: none;
}
.postoptions .metabox {
    margin-bottom: 5px;
}
.postoptions .metabox label {
    padding: 5px 0;
    margin: 0 5px;
    dispaly: inline-block;
}
.metainner {
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f9f9f9;
}
input.smallinput {
    width: 200px !important;
}
input.mediuminput {
    width: 350px !important;
}
.box-option select {
    width: 200px;
    font-size: 12px;
    height: 2.6em;
    padding: 7px;
    text-transform: capitalize;
}
/* Master Slider */
.msp-metabox {
    direction: ltr;
}
.msp-dialog button.ui-dialog-titlebar-close:before {
    display: none;
}
.msp-dialog .ui-dialog-title {
    top: 6px;
}
/* Ultimate Addon */
#wpbody .ult_activate {
    display: none;
}
#wpbody .wrap > .updated.fade {
    display: none;
}
.onoffswitch {
    direction: ltr;
}
#menu-posts-portfolio .dashicons-admin-post:before{
    content: "\f322";
}
#menu-posts-member .dashicons-admin-post:before{
    content: "\f338"
}
#menu-posts-testimonial .dashicons-admin-post:before{
    content: "\f473"
}
/* metabox styles */
.metabox {
    font-size: 12px;
    width: auto;
    margin: 0 auto 5px auto;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.postoptions .metabox h3 {
    cursor: default;
    float: left;
    background: transparent;
    border-width: 0;
    width: 250px;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.metabox label.title {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}
.metainner {
    background-color: transparent;
    border-width: 0;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}
.postoptions .metabox:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}
#cpt_info_box {
    display: none;
}
.ls-preview .btn {
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ls-preview .btn-lg {
    padding: 10px 26px !important;
    font-size: 18px;
    line-height: 1.33;
}
.ls-preview .price-box {
    width: 135px;
    height: 135px;
    background: #7bae23;
    border-radius: 68px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 135px;
    vertical-align: middle;
    -webkit-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
}
body.ebsp-mf-shown.wp-admin .mfp-bg {
    z-index: 20000 !important;
}
body.ebsp-mf-shown.wp-admin .mfp-wrap {
    z-index: 20001 !important;
}
.redux-container .expand_options,
.redux-sidebar, .cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span,
#redux-footer #redux-share {
    float: left !important;
}
/* Menu item classes */
.edit-menu-item-popup_bg_image {
    margin-bottom: 10px;
}
/* Redux Options */
.redux-main .select2-container {
    display: inline-block !important;
}
.ui-button-text-only .ui-button-text {
    padding: 0 1em !important;
}
.riven_vc_icon.vc_element-icon[data-is-container="true"] {
    background-position: 0 0 !important;
}
.vc_edit_form_elements input{display: block !important;}
.vc_add-element-container .wpb-content-layouts #riven_progress_diagonal{line-height: 12px !important;}
/*need css*/
.wp-caption{}
.wp-caption-text{}
.screen-reader-text{}
.gallery-caption{}
.bypostauthor {}
.alignright {}
.alignleft {}
.aligncenter {}
.redux-messageredux-notice,
#redux_dashboard_widget,
.redux-dev-mode-notice-container{display: none!important;}
.redux-container .redux-header{
    background: #23282d;
    text-align: right;
    padding: 6px 10px;
    position: relative;
    border-bottom: 3px solid #0073aa;
}
.redux-container .redux-header .display_header{
    float: left;
    margin: 20px 10px;
}
.redux-container .redux-header .display_header h2{
    display: inline-block;
    font-style: normal;
    padding-right: 5px;
    color:#fff;
}
.sticky {}
/*fixed class admin*/
.adm-metabox-edt{
    float:none;
}
.adm-metabox-ul{
    margin-bottom:5px;
}
.adm-metabox-rd{
    display:inline-block; 
    width:auto;
}
.adm-metabox-label{
    display: inline-block;
}

.aht_demo_import_choices label{
    display: block;
    float: left;
    margin-bottom: 30px;
    padding-right: 30px;
    width: 20%;
}
.aht_demo_import_choices .aht_choice_radio_button {
    margin-top: 25px;
    text-align: center;
}
.aht_demo_import_choices img {
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
    transition: all 0.5s ease 0s;
}
.aht_demo_import_choices::after {
    clear: both;
    content: "";
    display: block;
}
.aht_demo_import_choices {
    margin-top: 30px;
}
.aht_demo_button_align{
    text-align: center;
}
.aht_demo_button_align .size_big{
    height: 36px;
    line-height: 34px;
    padding: 0 15px 1px;
}
.aht_importer_note{
    padding-top: 30px;
    font-size: 30px;
}
.aht_importer_options{
    padding-left: 15px;
}
.aht_message_text{
    text-align: center;
    font-size: 30px;
}
.aht_message{
    text-align: center;
}
.base_dummy_content{
    text-align: left;
}
.base_dummy_content .aht_demo_button_align{
    text-align: left;
}
.aht_demo_import_choices .base_dummy_content .aht_choice_radio_button{
    text-align: left;
}
