@media (min-width: 2024px) {
  .choose-riven .image-choose {
    left: auto !important;
  }
}
@media (min-width: 1920px) {
  .scrollbar-inner > .scroll-element.scroll-y {
    right: 3px;
    width: 4px !important;
  }
  .img-right-abs2 {
    right: 15px;
  }
}
@media (max-width: 1820px) {
  .content-overview {
    margin-top: 123px;
    padding-bottom: 78px;
  }
}
@media (min-width: 1686px) {
  .portfolio-img img {
    width: 100%;
  }
  .header-v6 .container-fluid {
    padding: 0 100px;
  }
}
@media (max-width: 1686px) {
  .content-overview {
    margin-top: 103px;
    padding-bottom: 58px;
  }
  .startup_box {
    left: -60px;
    padding: 42px 75px 50px 60px;
  }
  .service-startup-bg figure {
    margin-right: 200px !important;
  }
  .content-overview {
    margin-top: 103px;
    padding-bottom: 58px;
  }
  .content-box-new {
    padding-right: 350px;
  }
  .content-box-new:nth-child(2) {
    padding-right: 150px;
  }
  .content-box-new:nth-child(3) {
    padding-right: 250px;
  }
}
@media (max-width: 1507px) {
  .content-overview {
    margin-top: 71px;
    padding-bottom: 16px;
    padding-right: 30px;
  }
  .content-box-new {
    padding-right: 250px;
  }
  .content-box-new:nth-child(2) {
    padding-right: 50px;
  }
  .content-box-new:nth-child(3) {
    padding-right: 150px;
  }
}
@media (max-width: 1400px) {
  .startup_box {
    padding: 42px 60px 50px 60px;
  }
  .service-startup-bg figure {
    margin-right: 160px !important;
    margin-top: -175px !important;
  }
  .content-box-new {
    margin-bottom: 40px;
    padding-right: 190px;
  }
  .content-box-new:nth-child(3) {
    padding-right: 100px;
  }
}
@media (max-width: 1366px) {
  .header-v6 .mega-menu > li a {
    padding: 39px 25px 40px;
  }
}
@media (min-width: 992px) and (max-width: 1336px) {
  .header-v4 .main-navigation {
    text-align: left;
  }
  .header-v4 .right_header {
    margin-left: 3px;
  }
  .header-v4 .mega-menu > li a {
    padding-left: 12px;
    padding-right: 11px;
  }
  .header-v4 .mega-menu > li:last-child a {
    padding-right: 0;
  }
}
@media (max-width: 1300px) {
  .content-overview {
    margin-top: 69px;
    padding-bottom: 4px;
  }
  .header-v6 .mega-menu > li a {
    padding: 39px 25px 40px;
  }
}
@media (max-width: 1199px) {
  .header-v4 .header-top {
    padding-left: 0;
    padding-right: 0;
  }
  .product_widget_content:hover .widget_add_to_cart {
    right: -69px;
  }
  .header-v3 .mega-menu > li a {
    padding: 27px 18px;
  }
  .over_top {
    margin-top: 0;
  }
  .product_ads .right_banner_product h3 a {
    font-size: 16px;
  }
  .product_ads_bg, .product_ads {
    display: none;
  }
  .product_ads .right_banner_product .price {
    font-size: 23px;
  }
  .choose-riven .image-choose {
    bottom: -30px;
    left: -140px;
  }
  .choose-riven .image-choose.wpb_single_image img {
    max-width: 75%;
  }
  div.popup {
    width: 800px;
  }
  .time-location .time:first-child {
    padding-right: 15px;
  }
  .time-location .time:last-child {
    padding-left: 15px;
  }
  .cascade-slider_container {
    width: 100%;
  }
  .our-team-2 .cascade-slider_arrow {
    left: 0;
  }
  .our-team-2 .cascade-slider_arrow.cascade-slider_arrow-right {
    right: 0;
  }
  .widget_post_blog .blog-info .comment {
    float: left;
    margin-top: -5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-v6 .mega-menu > li a {
    padding: 39px 12px 40px;
  }
  .header-v6.is-sticky .search-block-top > .btn-search, .header-v6 .search-block-top > .btn-search {
    padding-left: 9px;
  }
  .header-v6 .right_header ul li.customlinks a.cart_label {
    margin-right: 4px;
  }
  .header-v6 .right_header ul li.customlinks .shopping_bag p, .header-v6 .right_header ul li.customlinks .shopping_bag > span {
    font-size: 11px;
  }
  .img-left-abs2 {
    left: -90px;
  }
  .img-left-abs2.wpb_single_image img {
    max-width: 80% !important;
  }
  .img-right-abs2 {
    bottom: 115px;
  }
  .content-overview {
    margin-top: 20px;
    padding-bottom: 0;
    padding-right: 15px;
  }
  .content-box-new:nth-child(2) {
    padding-left: 155px;
  }
  .content-box-new:nth-child(3) {
    padding-left: 77px;
  }
  .img-right-abs2 .wpb_single_image img {
    max-width: 146%;
  }
  .blog-content-right .blog-item {
    padding-bottom: 20px;
  }
  .blog-main.blog-right .blog_post_desc {
    font-size: 11px;
  }
  .right_header ul li.customlinks {
    padding: 0 9px;
  }
  .header-v3 .mega-menu > li a {
    padding: 0 11px;
  }
  body:not(.fixed-header) .header-v3:not(.is-sticky) .main-navigation .menu-primary-menu-container {
    margin-top: 30px;
  }
  body:not(.fixed-header) .header-v3:not(.is-sticky) .header-logo {
    margin-top: 0;
  }
  body:not(.fixed-header) .header-v3:not(.is-sticky) .right_header {
    margin-top: 30px;
  }
  .fixed-header .header-v3 .main-navigation .menu-primary-menu-container {
    margin-top: 26px;
  }
  .fixed-header .is-sticky.header-v3 .main-navigation .menu-primary-menu-container {
    margin-top: 0;
  }
  .header-v3 .mega-menu > li > a::before {
    bottom: -20px;
  }
  .fixed-header .header-v3 .mega-menu li ul {
    top: 41px;
  }
  .img-left-abs.wpb_single_image {
    top: 115px;
  }
  .header-v2 .mega-menu > li a {
    padding: 27px 15px;
  }
  .character-info {
    width: 75%;
  }
  .header-sticky .main-navigation ul li > a {
    padding: 22px 12px 21px;
  }
  .member-content.type1:hover .member-img {
    top: -67px;
  }
  .img-abs.wpb_single_image.img-abs-right {
    right: 0;
  }
  .amount-content-2 {
    margin-bottom: 50px;
  }
  .startup_box {
    margin-left: 0;
    left: 0;
  }
  .service-startup-bg figure {
    margin-right: 200px !important;
    margin-top: -77px !important;
  }
}
@media (max-width: 1024px) {
  .form-style-2 {
    right: 0;
  }
  .services-design .delivery {
    margin-top: 45px;
    padding: 40px 0 0 35px;
  }
  .our-solution .vc_images_carousel .vc_carousel-indicators li::before {
    width: 22px;
  }
  .img-abs.wpb_single_image {
    left: -85px;
  }
  .our-skills .img-abs.wpb_single_image img {
    max-width: 75%;
  }
  .our-skills .img-abs.wpb_single_image {
    right: -75px;
  }
  .pp_pic_holder {
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    width: 80% !important;
  }
  .pp_content, .ppt, .pp_details {
    width: 100% !important;
  }
  .event-img {
    height: auto;
  }
  .app_screenshot .screen-default h3::before {
    top: -7px;
  }
  .app_screenshot .screen-default h3::after {
    top: 0px;
  }
  .app_screenshot .screen-default h3 {
    padding-left: 40px;
  }
  .blog-img.blog-left {
    margin-right: 20px;
  }
  .app_screenshot .title-block {
    top: 70px;
  }
  .event-thumb {
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .header-v6 .mega-menu > li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .opn_fixed_wrap {
    display: none;
  }
  .mega-menu > li:last-child > ul {
    left: auto !important;
    right: 0 !important;
  }
}
@media (max-width: 991px) {
  /* header-v4*/
  /* Header v5*/
  /*Header-v6*/
  .header-v6 .mega-menu > li a::after {
    background: transparent !important;
    opacity: 0 !important;
  }
  .content-box-new {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .img-right-abs2 {
    position: static;
  }
  .img-left-abs2 {
    display: none;
  }
  .form-style-2 {
    position: static;
  }
  .map-style-2 {
    width: 100% !important;
    height: 300px;
    margin-bottom: 0;
  }
  .mega-menu > li:hover > a::before {
    width: 0;
  }
  .fixed-header .header-v3:not(.is-sticky) .header-top {
    padding-top: 0;
  }
  .services-grid .services-element-2 {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .services-grid .services-element-2 > .vc_column_container:nth-child(1) {
    order: 2;
    -webkit-order: 2;
  }
  .services-grid .services-element-2 > .vc_column_container:nth-child(2) {
    order: 1;
    -webkit-order: 1;
  }
  .services-grid .service-icon-left .services.vc_icon_element:last-child {
    margin-bottom: 30px;
  }
  .services-design .delivery {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
  .header-v2.is-sticky .header-top .mega-menu > li.opn-active-menu a {
    color: #fff !important;
  }
  .header-v2.is-sticky .header-top .mega-menu > li > a:active, .header-v2.is-sticky .header-top .mega-menu > li > a:hover {
    color: #fff !important;
  }
  .portfolio-img img {
    width: 100%;
  }
  .portfolio-showcase .button-group button {
    font-size: 15px;
  }
  .img-abs-top {
    position: static;
  }
  .startup_box {
    position: static;
  }
  .bg-mobile-enjoy .vc_figure {
    display: none;
  }
  .banner-bottom-2 {
    padding: 0;
  }
  .banner-bottom-2 .right-banner {
    margin-top: 25px;
    text-align: left;
  }
  .blog-content-2 {
    margin-bottom: 30px;
  }
  .page-bussiness .wpb_content_element.img-abs {
    margin-bottom: 0;
    text-align: center;
  }
  .img-abs.wpb_single_image.img-abs-right {
    text-align: center;
  }
  .page-bussiness .wpb_content_element.img-abs.img-abs-right {
    margin-bottom: -35px;
  }
  .service-icon-left .services.vc_icon_element:last-child {
    margin-bottom: 15px;
  }
  .container {
    width: auto;
  }
  .form-startup .text {
    width: 80%;
  }
  .service-startup-bg .wpb_single_image.vc_align_right {
    text-align: center;
  }
  .service-startup-bg figure {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: -90px !important;
  }
  .startup_box {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .over_bottom .vc_column-inner {
    background: none !important;
  }
  .product_widget_content::before {
    width: 100%;
    left: 0;
  }
  .product_widget_content:hover .widget_add_to_cart {
    right: 0;
  }
  .customer-details {
    margin-top: 30px;
  }
  .checkout_coupon.coupon, .edit-account, .form-billing-fields {
    width: 100%;
  }
  .our-products-box, .product_ads {
    display: none;
  }
  .name-item {
    float: left;
    margin-top: 10px;
  }
  .woocommerce-cart .coupon {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }
  .about-us .text {
    margin-bottom: 52px !important;
  }
  ul.products > li .box_product:hover::before, ul.products > li .box_product:hover::after {
    box-shadow: none !important;
  }
  .brands-container .owl-controls .owl-nav > div {
    top: 15px;
    margin: 0;
  }
  .img-abs.wpb_single_image {
    position: static;
  }
  .woocommerce-tabs .tab-content > div {
    padding: 15px;
  }
  .our-skills .img-abs.wpb_single_image img, .img-abs.wpb_single_image img {
    max-width: 100%;
  }
  .header-v1 .menu-toggle {
    top: 45px;
  }
  .admin-bar.fixed-header .header-v1 .header-top .main-navigation {
    top: 32px;
  }
  .side-breadcrumb {
    padding-top: 120px;
  }
  .fixed-header .side-breadcrumb {
    padding-top: 110px;
  }
  .side-breadcrumb.breadcrumb_3 {
    padding-top: 50px;
  }
  .single-post .blog_post_desc {
    padding-bottom: 0;
  }
  .widget_post_blog .blog-info .comment {
    display: inline-block;
    float: none;
    margin-left: 30px;
    margin-top: 0;
    padding-top: 3px;
  }
  .product-filter-isotope .tabs-fillter .nav-tabs li {
    padding: 0 5px;
  }
  .product-filter-isotope .tabs-fillter .nav-tabs li a {
    font-size: 13px;
    padding: 5px 11px;
  }
  .banner-bottom .bg-gradient {
    padding-bottom: 20px;
  }
  .banner-bottom .right-banner {
    margin-top: 35px;
    text-align: left;
  }
  p br {
    display: none;
  }
  .header-top .main-navigation.scroll-open {
    background: #000 none repeat scroll 0 0;
    height: 100vh;
    overflow-y: auto;
    right: 0;
  }
  .header-v1 .header-logo {
    margin-top: 10px;
  }
  .header-v1 .header-top .mega-menu {
    padding: 100px 20px 70px 63px;
  }
  .header-v1 .header-top .main-navigation {
    position: fixed;
    top: 0;
  }
  .header-v1.is-sticky .header-top {
    display: block;
  }
  .header-v1.is-sticky .scroll-open .menu-toggle {
    left: 55px;
  }
  .header-v1.is-sticky .menu-toggle {
    left: 0;
    top: 46px;
  }
  .header-logo img {
    height: 75px;
    width: 90px;
  }
  .menu-toggle {
    display: block;
  }
  .is-sticky .header-sticky {
    display: none;
  }
  .is-sticky .scroll-open .menu-toggle {
    background: none;
  }
  .is-sticky .menu-toggle {
    background: #000 none repeat scroll 0 0;
    height: 35px;
    left: 0;
    top: 35px;
    width: 35px;
    line-height: 100%;
    font-size: 20px;
  }
  .is-sticky .menu-toggle i {
    margin-right: 0;
  }
  .is-sticky .menu-toggle span {
    display: none;
  }
  .fixed-header .header-v2 .menu-toggle {
    top: 45px;
    left: auto;
    right: 15px;
  }
  .fixed-header .header-v2 .scroll-open .menu-toggle {
    top: 35px;
    left: 42px;
  }
  .fixed-header .header-v2 .header-top .mega-menu {
    top: 15px;
  }
  .header-v2.is-sticky .scroll-open .menu-toggle .fa-bars::after, .header-v2.is-sticky .scroll-open .menu-toggle .fa-bars::before {
    left: -20px;
  }
  .header-v2 .scroll-open .menu-toggle span::before {
    left: 25px;
  }
  .header-v2 .scroll-open .menu-toggle .fa-bars::after, .header-v2 .scroll-open .menu-toggle .fa-bars::before {
    left: -35px;
    top: -5px;
  }
  .header-v2.is-sticky .header-top {
    position: fixed;
    background: none !important;
  }
  .header-v2.is-sticky .header-top .header-logo {
    display: none;
  }
  .header-v2.is-sticky .menu-toggle {
    right: 0;
    left: auto;
  }
  .header-v2 .header-logo {
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: static;
  }
  .header-v2 .header-top .mega-menu {
    height: 100%;
    min-height: 100vh;
    margin-left: -15px;
    top: 0;
    position: absolute;
    width: 250px;
    padding: 80px 20px 65px 42px;
    opacity: 0;
    visibility: hidden;
    right: -250px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .header-v2 .header-top .mega-menu li {
    display: block;
  }
  .header-v2 .header-top .mega-menu li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 7px 0;
    display: block;
  }
  .header-v2 .header-top .mega-menu li .caret {
    display: block;
  }
  .header-v2 .header-top .mega-menu li.open ul {
    display: block;
  }
  .header-v2 .header-top .mega-menu li ul {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    opacity: 1;
    position: relative;
    top: 0;
    display: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    transform: none;
    visibility: visible;
    width: 100%;
  }
  .header-v2 .header-top .mega-menu li ul li {
    padding-left: 10px;
  }
  .header-v2 .header-top .mega-menu li ul li a {
    font-size: 12px;
  }
  .header-v2 .menu-toggle {
    top: 23px;
  }
  .header-v2 .header-top .main-navigation {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    padding: 0;
    z-index: 9999;
  }
  .header-v2 .main-navigation.scroll-open .mega-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    right: 0;
    height: 100%;
    min-height: 100vh;
  }
  .fixed-header .header-v3 .header-logo {
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    left: 50%;
    margin-top: 0;
  }
  .admin-bar.fixed-header .header-v3.is-sticky .header-top {
    top: 45px;
  }
  .admin-bar .fixed-header .header-v3 .main-navigation {
    padding-top: 26px;
  }
  .admin-bar .header-v3 .header-top {
    top: 45px;
  }
  .admin-bar .header-v3.is-sticky .header-top {
    top: 45px;
  }
  .fixed-header .header-v3 .main-navigation .menu-primary-menu-container {
    margin-right: 0;
  }
  .header-v3 {
    height: 75px;
  }
  .header-v3 .right_header {
    margin-top: 25px;
  }
  .header-v3 .scroll-open .menu-toggle .fa-bars::before, .header-v3 .scroll-open .menu-toggle .fa-bars::after {
    left: -35px;
    top: -5px;
  }
  .header-v3.is-sticky .right_header {
    margin-top: 25px;
  }
  .header-v3.is-sticky .menu-toggle {
    right: 0;
    top: 18px;
    background: none;
  }
  .header-v3.is-sticky .header-top {
    height: 75px;
  }
  .header-v3.is-sticky .header-logo {
    position: absolute;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }
  .header-v3 .header-logo {
    margin-top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }
  .header-v3.is-sticky .menu-toggle {
    right: 0;
  }
  .header-v3.is-sticky .header-top .main-navigation.scroll-open .menu-toggle {
    left: 10px;
  }
  .header-v3.is-sticky .scroll-open .menu-toggle .fa-bars::before, .header-v3.is-sticky .scroll-open .menu-toggle .fa-bars::after {
    left: -20px;
    top: -8px;
  }
  .header-v3 .header-top .main-navigation.scroll-open {
    background: none;
    height: auto;
    overflow-y: inherit;
  }
  .header-v3 .mega-menu li .caret {
    display: block;
  }
  .header-v3 .mega-menu li ul, .header-v3 .mega-menu li:hover ul {
    transform: none;
    visibility: visible;
  }
  .header-v3 .right_header ul li.customlinks .number-product {
    padding-right: 0;
    text-align: center;
  }
  .header-v3 .menu-toggle {
    left: 5px;
    top: 27px;
  }
  .header-v3 .main-navigation {
    z-index: 9999;
    position: relative;
  }
  .header-v3 .main-navigation.scroll-open .menu-primary-menu-container {
    display: block;
    opacity: 1;
    right: 0;
    height: auto;
    visibility: visible;
    background: #000;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .header-v3 .main-navigation .menu-primary-menu-container {
    background: #000 none repeat scroll 0 0;
    margin-right: 0;
    position: absolute;
    text-align: left;
    top: 74px;
    width: 100%;
    margin-left: 0;
    opacity: 0;
    height: 0;
    padding: 30px 20px;
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    overflow: hidden;
  }
  .header-v3 .mega-menu > li {
    display: block;
  }
  .header-v3 .header-top .mega-menu li a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding: 7px 0;
    text-transform: uppercase;
  }
  .header-v3 .header-top .mega-menu li ul {
    background: none;
    position: static;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
  }
  .header-v3 .header-top .mega-menu li.open ul {
    max-height: 100%;
    opacity: 1;
    padding-left: 15px;
  }
  .admin-bar.fixed-header .header-v4 .header-top {
    top: 32px;
  }
  .admin-bar.fixed-header .header-v4.is-sticky .header-top {
    top: 32;
  }
  .fixed-header .header-v4 .header-logo {
    margin-top: 12px;
  }
  .fixed-header .header-v4.is-sticky .header-logo {
    margin-top: 10px;
  }
  .header-v4.is-sticky .header-logo img {
    height: auto;
    width: auto;
  }
  .header-v4.is-sticky .header-logo {
    position: absolute;
  }
  .header-v4.is-sticky .header-top {
    position: fixed;
    background: #fff;
  }
  .header-v4.is-sticky .scroll-open .menu-toggle span:before {
    top: 0;
  }
  .header-v4.is-sticky .menu-toggle {
    color: #000;
    top: 37px;
    background: transparent;
    width: auto;
    font-size: 14px;
    height: auto;
  }
  .header-v4.is-sticky .menu-toggle i {
    margin-right: 7px;
  }
  .header-v4.is-sticky .menu-toggle span {
    display: inline-block;
  }
  .header-v4.is-sticky .right_header {
    margin-top: 33px;
  }
  .header-v4.is-sticky .main-navigation.scroll-open .menu-toggle .fa-bars::before, .header-v4.is-sticky .main-navigation.scroll-open .menu-toggle .fa-bars::after {
    left: -4px;
  }
  .header-v4 .right_header {
    margin-top: 40px;
    position: absolute;
    right: 15px;
    text-align: center;
  }
  .header-v4 .right_header a {
    border: 1px solid #1ad372;
  }
  .header-v4 .header-logo {
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    left: 50% !important;
    position: absolute;
    transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
  }
  .header-v4 .header-logo img {
    height: auto;
    width: auto;
  }
  .header-v4 .header-top {
    height: 86px;
  }
  .header-v4 .header-top .main-navigation.scroll-open {
    background: none;
  }
  .header-v4 .header-top .main-navigation.scroll-open span::before {
    color: #fff;
  }
  .header-v4 .header-top .mega-menu {
    height: 100%;
    min-height: 100vh;
    margin-left: -15px;
    top: 0;
    position: absolute;
    width: 0;
    padding: 80px 20px 65px 42px;
    opacity: 0;
    visibility: hidden;
    left: -250px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .header-v4 .header-top .mega-menu li {
    display: block;
  }
  .header-v4 .header-top .mega-menu li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 7px 0;
    display: block;
  }
  .header-v4 .header-top .mega-menu li .caret {
    display: block;
  }
  .header-v4 .header-top .mega-menu li.open ul {
    display: block;
  }
  .header-v4 .header-top .mega-menu li ul {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    opacity: 1;
    position: relative;
    top: 0;
    display: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    transform: none;
    visibility: visible;
    width: 100%;
  }
  .header-v4 .header-top .mega-menu li ul li {
    padding-left: 10px;
  }
  .header-v4 .header-top .mega-menu li ul li a {
    font-size: 12px;
  }
  .header-v4 .menu-toggle {
    left: 15px;
    top: 35px;
    color: #000;
  }
  .header-v4 .main-navigation.scroll-open .menu-toggle {
    left: 27px;
    right: auto;
  }
  .header-v4 .main-navigation.scroll-open .menu-toggle span:before {
    left: 25px;
  }
  .header-v4 .main-navigation.scroll-open .menu-toggle .fa-bars::before, .header-v4 .main-navigation.scroll-open .menu-toggle .fa-bars::after {
    left: -35px;
    top: -5px;
  }
  .header-v4 .header-top .main-navigation {
    position: absolute;
    width: 100%;
    top: -1px;
    right: 0;
    text-align: left;
    padding: 0;
    z-index: 9999;
  }
  .header-v4 .main-navigation.scroll-open .mega-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    left: 0;
    height: 100%;
    min-height: 100vh;
    width: 250px;
    background: #000;
  }
  .header-v5 .header-logo img {
    height: auto;
    width: auto;
  }
  .header-v5.is-sticky .right_header {
    display: none;
  }
  .header-v5 .header-logo {
    margin-top: 0;
    padding: 10px 0;
  }
  .header-v5 .scroll-open .menu-toggle span:before {
    left: 22px;
  }
  .header-v5 .scroll-open .menu-toggle .fa-bars::before, .header-v5 .scroll-open .menu-toggle .fa-bars::after {
    left: -35px;
    top: -5px;
    background: #000;
  }
  .header-v5.is-sticky .right_header {
    margin-top: 25px;
  }
  .header-v5.is-sticky .menu-toggle {
    top: -47px;
    right: -7px;
    background: none;
  }
  .header-v5.is-sticky .header-top {
    height: 75px;
  }
  .header-v5.is-sticky .header-logo {
    margin-top: 0;
  }
  .header-v5.is-sticky .scroll-open .menu-toggle .fa-bars::before, .header-v5.is-sticky .scroll-open .menu-toggle .fa-bars::after {
    left: -20px;
    top: -8px;
  }
  .header-v5.is-sticky .main-navigation .menu-primary-menu-container {
    top: 7px;
  }
  .header-v5 .header-top .main-navigation.scroll-open {
    background: none;
    height: auto;
    overflow-y: inherit;
  }
  .header-v5 .mega-menu li .caret {
    display: block;
  }
  .header-v5 .mega-menu li ul, .header-v5 .mega-menu li:hover ul {
    transform: none;
    visibility: visible;
  }
  .header-v5 .right_header ul li.customlinks .number-product {
    padding-right: 0;
    text-align: center;
  }
  .header-v5 .menu-toggle {
    right: 0;
    left: auto;
    color: #000;
    top: -42px;
  }
  .header-v5 .main-navigation {
    z-index: 9999;
    position: relative;
  }
  .header-v5 .main-navigation.scroll-open .menu-primary-menu-container {
    display: block;
    opacity: 1;
    right: 0;
    height: auto;
    visibility: visible;
    background: #000;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .header-v5 .main-navigation .menu-primary-menu-container {
    background: #000 none repeat scroll 0 0;
    margin-right: 0;
    position: absolute;
    text-align: left;
    top: 1px;
    width: 100%;
    margin-left: 0;
    opacity: 0;
    height: 0;
    padding: 30px 20px;
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    overflow: hidden;
  }
  .header-v5 .mega-menu > li {
    display: block;
  }
  .header-v5 .header-top .mega-menu li a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding: 7px 0;
    text-transform: uppercase;
  }
  .header-v5 .header-top .mega-menu li ul {
    background: none;
    position: static;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
  }
  .header-v5 .header-top .mega-menu li.open ul {
    max-height: 100%;
    opacity: 1;
    padding-left: 15px;
  }
  .fixed-header .header-v6 .menu-toggle {
    top: 45px;
    left: 15px;
  }
  .fixed-header .header-v6 .header-top .mega-menu {
    top: 15px;
  }
  .header-v6.is-sticky .mega-menu > li.opn-active-menu a:after, .header-v6 .mega-menu > li.opn-active-menu a:after {
    content: none;
  }
  .header-v6.is-sticky .header-top {
    position: fixed;
    background: none !important;
  }
  .header-v6.is-sticky .header-top .header-logo {
    display: none;
  }
  .header-v6.is-sticky .header-top .main-navigation {
    top: -33px;
  }
  .header-v6.is-sticky .header-top .main-navigation.scroll-open {
    top: 0;
  }
  .header-v6.is-sticky .header-top .main-navigation.scroll-open .menu-toggle {
    left: 0;
    top: 42px;
  }
  .header-v6.is-sticky .search-block-top .active.top-search, .header-v6.is-sticky .right_header ul li.customlinks .cart-block {
    display: none;
  }
  .header-v6.is-sticky .menu-toggle {
    color: #fff;
    left: 0;
    top: 85px;
  }
  .header-v6.is-sticky .scroll-open .menu-toggle .fa-bars::after, .header-v6.is-sticky .scroll-open .menu-toggle .fa-bars::before {
    left: -10px;
    top: -5px;
  }
  .header-v6 .header-logo {
    text-align: center;
    margin: 15px 0 12px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: static;
  }
  .header-v6 .scroll-open .menu-toggle span::before {
    color: #fff;
    left: 60px;
    top: -3px;
  }
  .header-v6 .menu-toggle {
    left: 10px;
    color: #232937;
  }
  .header-v6 .right_header {
    position: absolute;
    right: 15px;
    top: -100px;
  }
  .header-v6 .search-block-top {
    position: absolute;
    right: 188px;
    top: -60px;
  }
  .header-v6 .header-top .mega-menu {
    height: 100%;
    min-height: 100vh;
    margin-left: -15px;
    top: 0;
    position: absolute;
    width: 250px;
    padding: 80px 20px 65px 60px;
    opacity: 0;
    visibility: hidden;
    left: -250px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .header-v6 .header-top .mega-menu li {
    display: block;
  }
  .header-v6 .header-top .mega-menu li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 7px 0;
    display: block;
  }
  .header-v6 .header-top .mega-menu li .caret {
    display: block;
  }
  .header-v6 .header-top .mega-menu li.open ul {
    display: block;
  }
  .header-v6 .header-top .mega-menu li ul {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    opacity: 1;
    position: relative;
    top: 0;
    display: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    transform: none;
    visibility: visible;
    width: 100%;
  }
  .header-v6 .header-top .mega-menu li ul li {
    padding-left: 10px;
  }
  .header-v6 .header-top .mega-menu li ul li a {
    font-size: 12px;
  }
  .header-v6 .menu-toggle {
    top: 42px;
  }
  .header-v6 .header-top .main-navigation {
    width: 250px;
    position: absolute;
    top: -102px;
    left: 0;
    text-align: left;
    padding: 0;
    z-index: 9999;
  }
  .header-v6 .main-navigation.scroll-open .mega-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    left: 0;
    height: 100%;
    min-height: 100vh;
  }
  .header-v6 .main-navigation.scroll-open .menu-toggle {
    top: 27px;
  }
  .footer-v3 .footer-office-content aside {
    margin-bottom: 40px;
  }
  .footer-v3 .footer-office {
    padding-bottom: 0;
  }
  .features .smile_icon_list li.icon_list_item {
    margin-bottom: 60px !important;
  }
  .features .smile_icon_list.circle {
    margin-top: 0;
  }
  .amount-content {
    margin: 0 auto 60px;
  }
  .member-content {
    margin-bottom: 20px;
  }
  .time-location .time:first-child {
    margin-bottom: 30px;
  }
  .time-location .time:first-child, .time-location .time:last-child {
    padding: 0;
  }
  .time-location .time {
    width: 100%;
  }
  .popup-top .calendar-time p {
    font-size: 16px;
  }
  .fancybox-opened .popup-content .blog-comments, .fancybox-opened .popup-top {
    padding-left: 30px;
    padding-right: 30px;
  }
  .blog-img img {
    width: 100%;
  }
  .blog-ful {
    margin-bottom: 30px;
  }
  .event_post {
    margin-top: 0;
  }
  .event-box-conner {
    float: right;
  }
  .event_post::after {
    left: 50px;
  }
  .event-thumb {
    height: auto;
  }
  .event-thumb .event-img {
    height: 100%;
    width: 100%;
  }
  .event-thumb:after {
    border-right-color: #898989;
    border-left-color: transparent;
    left: auto;
    right: 100%;
  }
  .row-event:hover .event-thumb:after {
    border-right-color: #ff2759;
    border-left-color: transparent !important;
  }
  .event-2 .row-event:hover .event-thumb::after {
    border-right-color: #e15f00;
  }
  .event_post_date, .event-content:nth-child(2n) .event_post_date {
    left: 0;
    right: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .event_post_date:before, .event-content:nth-child(2n) .event_post_date:before {
    margin-left: -21px;
  }
  .event-content:nth-child(2) {
    padding-top: 0;
  }
  .event-content:nth-child(2n+1) {
    margin-top: 0;
  }
  .event-loadmore {
    text-align: center;
  }
  .latest-review .owl-carousel {
    width: 600px;
  }
  .our-team-2 .cascade-slider_arrow {
    top: 40%;
  }
  .choose-riven .image-choose {
    position: static;
    padding-top: 20px;
  }
  .choose-riven .image-choose.wpb_single_image img {
    max-width: 100%;
  }
  .choose-riven .riven-heading.text-left {
    text-align: center;
  }
  .get-app::after {
    background: rgba(0, 0, 0, 0) url("../images/background/bg-app.png") no-repeat scroll 65% 0;
  }
  .footer-v1 {
    padding-top: 70px;
  }
  .footer-v1 .newsletter_1 {
    margin-bottom: 20px;
  }
  .fixed-header .header-v1 .header-logo {
    margin-top: 15px;
  }
  .footer-v3 .newsletter_2 p {
    margin-bottom: 0;
  }
  .app_screenshot .vc_column-inner {
    padding-top: 0 !important;
  }
  .app_screenshot .title-block {
    top: 75px;
    left: 20px;
  }
  .app_screenshot .tp-bullets {
    left: auto;
    margin-left: 0 !important;
    margin-right: 140px;
    right: 0;
  }
  .gallery .slick-slider {
    width: 700px;
  }
  .gallery .slick-next {
    right: -15px;
  }
  .gallery .slick-prev {
    left: -15px;
  }
  .team-padding .member-slider {
    width: 100%;
  }
  .month-event:last-child {
    margin-bottom: 40px;
  }
  .our-skills .img-abs.wpb_single_image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-v5 .footer-col {
    min-height: 254px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  div.popup {
    width: 600px;
  }
  .header-v2 .scroll-open .menu-toggle {
    left: auto;
    right: 15px;
  }
  .member-content.type1 {
    margin-bottom: 40px;
  }
  .blog-main .blog-info-style.blog_info span {
    margin-right: 25px;
  }
  .post-type-archive-event .banner-bottom {
    margin-top: 20px;
  }
  .btn-slider-4, .btn-slider-5 {
    font-size: 12px !important;
    padding: 7px 15px !important;
    border-width: 1px !important;
  }
  .btn-slider-4 i, .btn-slider-5 i {
    font-size: 12px !important;
  }
}
@media (max-width: 782px) {
  .admin-bar .header-v5.is-sticky .header-top, .admin-bar.fixed-header .header-v1 .header-top .main-navigation, .admin-bar.fixed-header .header-v4.is-sticky .header-top, .admin-bar .header-v2 .header-top {
    top: 46px !important;
  }
  .admin-bar.fixed-header .header-v4 .header-top {
    top: 45px;
  }
}
@media (max-width: 767px) {
  .portfolio_box .portfolio_info_box {
    opacity: 1;
    transform: none;
    position: static;
    padding: 20px 0;
  }
  .portfolio_box .portfolio_info_box .portfolio_top_content .name-portfolio:after {
    width: 27px;
  }
  .portfolio_box .portfolio_bottom_content {
    opacity: 1;
    bottom: 113px;
  }
  .portfolio_box .portfolio_info_box .portfolio_top_content .name-portfolio {
    color: #000;
  }
  .portfolio_box:before {
    content: none;
  }
  .footer-v3 .blog-item:hover .blog-img {
    border: 1px solid #fff;
  }
  .img-profile .bg-gradient:before, .social-networks li:hover i, .social-url, .member-content:hover .hover-link:before, .member-content:hover .hover-link:after, .member-content.type1:hover .bg-gradient::before, .smooth05, .blog-style, .event-2 .bg-gradient, .ult-animation.ult-animate-viewport {
    transition: none !important;
    -ms-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
  }
  .features .smile_icon_list.with_bg .icon_list_item:hover .icon_list_icon {
    color: #fff !important;
  }
  .member-content.type2 img {
    background: none !important;
  }
  .member-img:before {
    border: 7px solid #ebebeb;
  }
  .member-content.type2 .member-img, .member-content.type2:hover .member-img {
    filter: none !important;
    -o-filter: none !important;
    -ms-filter: none !important;
    -moz-filter: none !important;
    -webkit-filter: none !important;
  }
  .fixed-header .header-v4 .header-logo {
    margin-top: 12px;
    left: auto !important;
    right: 15px;
    transform: none !important;
  }
  .social-networks li:hover i, .animated.fadeInUp {
    animation: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    transition: none !important;
    -ms-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
  }
  .pricing-content:hover:before, .pricing-content:hover .price:before {
    opacity: 0 !important;
  }
  ul.products > li .box-border:hover {
    border: 1px solid #d7d7d7;
  }
  .product-shortcode ul.products > li .box_product:hover .product_social {
    bottom: 0 !important;
  }
  .product-shortcode ul.products > li .product-content .product_social {
    bottom: 0;
  }
  ul.products > li .product-content .product_social {
    opacity: 1;
    position: static;
    visibility: visible;
    margin-top: 25px;
  }
  ul.products > li .product-content {
    height: auto;
  }
  ul.products > li .box-border:hover {
    padding: 0;
  }
  .member-content.type1:hover .member-img {
    top: -25px;
  }
  .member-content.type1:hover .bg-gradient::before {
    transform: none;
    transition: none;
  }
  .member-content.type1 .social-url.social-networks li a {
    color: #000;
  }
  .member-content.type1 .member-info {
    margin-top: 30px;
  }
  .member-content.type1:hover .member-info {
    transition: none;
    padding: 129px 20px 10px 20px;
  }
  .member-content.type1:hover .member-info .job, .member-content.type1:hover .member-info h3 {
    color: #4b4b4b;
  }
  .member-content.type1:hover .member-img img {
    border: 3px solid #ccc;
  }
  .member-content.type1 .social-url {
    position: static;
    transform: none;
    opacity: 1;
  }
  .member-content.type1:hover .bg-gradient::before {
    background: #fff !important;
  }
  .hover-link:before, .hover-link:after, .blog-main:focus .bg-gradient::before, .blog-item:focus .bg-gradient::before, .blog-main:hover .bg-gradient::before, .blog-item:hover .bg-gradient::before, .box-border::before, ul.products > li .box-border .box_product:before, ul.products > li .box-border:hover .box_product:before, ul.products > li .box-border .box_product:after, ul.products > li .box-border:hover .box_product:after, ul.products > li .box-border:before, ul.products > li .box-border:hover:before {
    content: none !important;
  }
  .pricing-content:hover .pricing-sign .btn {
    background: none;
  }
  .pricing-content .price-box {
    border: 1px solid #fff;
  }
  .pricing-content:hover:before {
    border: 1px solid #ebebeb;
  }
  .pricing-content:hover h3 {
    color: #000;
  }
  .get-app-content .btn.btn-icon:hover {
    background: none !important;
    border: 1px solid #fff !important;
  }
  .member-content:hover .member-img .img-profile .bg-gradient:before {
    opacity: 0;
  }
  .member-content:hover .member-img:before {
    background: #ebebeb !important;
  }
  .testimonials .owl-controls .owl-nav > div:hover, .testimonials .owl-controls .owl-nav > div:hover {
    font-size: 30px;
  }
  .row-event .event_post_content .detail:before, .row-event .event_post_content .detail {
    color: #ff2759 !important;
  }
  .event-2 .row-event:hover .event_post_content .event-thumb::after, .row-event:hover .event_post_content .event-thumb::after {
    border-right-color: #898989 !important;
  }
  .row-event:hover .event_post_date:before {
    background: #898989 !important;
  }
  .row-event:hover .event_post_date {
    color: #898989 !important;
  }
  .row-event .event_post_content .detail:before {
    bottom: 5px;
  }
  .event-thumb:before {
    content: none;
  }
  .month-event:nth-child(2n) .event-list-item, .month-event:nth-child(2n) .event-list-item:hover {
    background: #f5f5f5;
  }
  .month-event:nth-child(2n+1) .event-list-item, .month-event:nth-child(2n+1) .event-list-item:hover {
    background: #ff2759;
  }
  .month-event:nth-child(2n+1) .event-list-item .event-list-time, .month-event:nth-child(2n+1) .event-list-item:hover .event-list-time {
    color: #fff;
  }
  .month-event:nth-child(2n+1) .event-list-item .event-list-content .time-event, .month-event:nth-child(2n+1) .event-list-item:hover .event-list-content .time-event, .month-event:nth-child(2n+1) .event-list-item .event-list-content .title-eventpost a, .month-event:nth-child(2n+1) .event-list-item:hover .event-list-content .title-eventpost a {
    color: #fff;
  }
  .row-event:hover .event_post_content .event-thumb {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
  }
  .event-2 .row-event:hover .event_post_content {
    border: 2px solid #ebebeb !important;
  }
  .event-2 .row-event:hover .event_post_content .detail, .event-2 .row-event:hover .event_post_content .detail:before, .event-2 .row-event:hover .event_post_content .title-eventpost a {
    color: #000 !important;
  }
  .row-event:hover .event_post_content {
    padding: 0;
    border: 2px solid #ebebeb;
  }
  .event_post_content.bg-gradient:before {
    content: none !important;
  }
  .features .smile_icon_list.with_bg .icon_list_item:hover .icon_list_icon {
    background: none;
  }
  .fixed-header .header-v1 .header-logo {
    margin-top: 10px;
  }
  .header-v1 .header-top .mega-menu {
    padding-top: 95px;
  }
  .header-v1 .menu-toggle {
    top: 40px;
  }
  .header-v5 .menu-toggle {
    right: -7px;
  }
  .header-v5.is-sticky .scroll-open .menu-toggle {
    right: -17px;
  }
  .btn-slide7 {
    padding: 11px 25px 10px !important;
  }
  .speaker-features .smile_icon_list li .icon_list_icon {
    margin-top: 0;
  }
  .speaker-features .smile_icon_list.left li .icon_description {
    overflow: hidden;
    display: block !important;
  }
  .speaker-features .smile_icon_list.right li .icon_description {
    padding-right: 0;
    margin-right: 0;
    float: none;
    text-align: left;
    padding-left: 29px;
    display: block !important;
    overflow: hidden;
  }
  .speaker-features .smile_icon_list.right li .icon_list_icon {
    float: left;
  }
  .form-style-2 > .vc_column-inner {
    padding: 0 30px !important;
  }
  .single-portfolio-content .portfolio-thumbnail {
    margin-bottom: 40px;
  }
  .portfolio-showcase .button-group button {
    display: block;
    font-size: 16px;
    margin-bottom: 27px;
    width: 100%;
  }
  .portfolio-gallery .owl-carousel .owl-item img {
    width: 100%;
  }
  .app_screenshot .screen-default {
    margin-top: 13px !important;
  }
  .amount-content-2 {
    margin-bottom: 80px;
  }
  .no-bg-mobile .upb_row_bg {
    display: none;
  }
  .service-startup .services {
    margin-top: 10px;
  }
  .startup_box {
    padding: 50px;
  }
  .service-startup-bg .desc {
    padding-bottom: 0;
  }
  .post-type-archive-event .banner-bottom {
    margin-top: 0;
  }
  .vc_tta.vc_tta-controls-align-center .vc_tta-panel-heading {
    display: none;
  }
  .vc_tta-tabs .vc_tta-tabs-container {
    display: flex !important;
  }
  .vc_tta.vc_tta-tabs .vc_tta-tabs-container {
    display: block !important;
  }
  .vc_tta.vc_tta-spacing-30.vc_general .vc_tta-tab {
    margin: 10px 0 0;
  }
  .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a, .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a {
    padding: 10px 17px;
  }
  .vc_tta.vc_general .vc_tta-tab {
    float: left;
    width: 100%;
    margin: 15px 0;
  }
  .vc_tta.vc_tta-spacing-30 .vc_tta-tabs-list {
    padding: 0;
    margin: 0;
  }
  .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
    background: none !important;
  }
  ul.products > li .box_product:hover::before, ul.products > li .box_product:hover::after {
    margin: -0.2%;
  }
  .single-product.woocommerce h2 span {
    margin-left: 0;
    position: relative;
    margin-top: 15px;
  }
  .member-content.type1 {
    margin-bottom: 30px;
  }
  .portfolio-img img {
    width: 100%;
  }
  .footer-v1 {
    padding-top: 60px;
  }
  .footer-v1 .newsletter_1 {
    margin-bottom: 0;
  }
  .header-v1 .menu-toggle {
    left: 10px;
  }
  .header-v1 .main-navigation.scroll-open .mega-menu {
    left: 15px;
  }
  .header-v1 .header-top .mega-menu {
    padding: 110px 20px 15px 15px;
  }
  .header-v2 .header-top .main-navigation {
    right: 0;
  }
  .header-v2 .menu-toggle {
    right: 15px;
    left: auto;
  }
  .header-v1.is-sticky .scroll-open .menu-toggle {
    left: 25px;
  }
  .product-filter-isotope .tabs-fillter .nav-tabs {
    display: block;
  }
  .product-filter-isotope .tabs-fillter {
    margin-top: 30px;
  }
  .product-filter-isotope .tabs-fillter .nav-tabs li {
    margin-bottom: 10px;
    float: none;
  }
  .product-filter-isotope .tabs-fillter .nav-tabs li a {
    padding: 10px 0;
  }
  .num-comment {
    left: 5px;
    top: 5px;
  }
  .event_post::after {
    left: 15px;
  }
  .event_post_date, .event-content:nth-child(2n) .event_post_date {
    left: 8px;
  }
  .event_post_date::before, .event-content:nth-child(2n) .event_post_date::before {
    left: 0;
    margin-left: 0;
  }
  .refresh .vc_single_image-img {
    display: none;
  }
  .features .smile_icon_list.right {
    text-align: left;
  }
  .features .smile_icon_list.right li .icon_list_icon {
    float: left;
  }
  .features .smile_icon_list.right li .icon_description {
    margin-right: 0;
    margin-left: 1em;
    overflow: hidden;
    padding-left: 25px;
  }
  .features.smile_icon_list.left li .icon_description {
    display: block !important;
  }
  .brands-container .owl-controls .owl-nav > div {
    top: 10px;
  }
  .latest-review .owl-carousel {
    width: 100%;
  }
  .latest-review .owl-carousel .owl-controls .owl-nav > div {
    left: 0;
  }
  .latest-review .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
    left: auto;
  }
  .latest-review .testimonial-content .testimonial-desc {
    padding: 15px 60px 30px;
  }
  .vc_tta.vc_general.vc_tta-tabs .vc_active .vc_tta-panel-title > a {
    padding: 15px 26px 19px !important;
  }
  .vc_tta.vc_general.vc_tta-tabs .vc_tta-panel-body {
    padding: 0px 0 25px !important;
  }
  .desc-game {
    margin-top: 30px;
  }
  .gallery .ult-carousel-wrapper {
    padding-bottom: 50px;
  }
  .footer-v3 .footer-office {
    padding-bottom: 0;
    padding-top: 20px;
  }
  .footer-v3 .footer-office-content aside {
    margin-bottom: 20px;
  }
  .blog-comments {
    padding-bottom: 20px;
  }
  .banner-bottom h3 {
    font-size: 32px;
  }
  .banner-bottom .bg-gradient {
    padding: 30px 0;
  }
  .blog_post li {
    padding-bottom: 35px;
  }
  .pagination, .blog_post_desc {
    padding-bottom: 20px;
  }
  .side-breadcrumb {
    margin-bottom: 50px;
  }
  .comments-area .number-comments {
    padding-top: 30px;
  }
  .game-play {
    padding-bottom: 10px;
  }
  .game-play .left-video-scroll .wpb_content_element {
    margin-bottom: 0;
  }
  .footer-v2 .newsletter_2 {
    width: 100%;
    padding-left: 150px;
  }
  .footer-v2 .form-newletter {
    width: 100%;
    margin-top: 20px;
  }
  .footer-v2 .top-footer {
    margin-top: 80px;
  }
  .event-img {
    height: 100%;
    width: 100%;
  }
  .time-location {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .comment-reply-title {
    padding-bottom: 20px;
    padding-top: 35px;
  }
  .popup-content .blog-comments {
    padding-bottom: 30px;
  }
  .event_post_date {
    text-align: left;
  }
  .gallery .slick-slider {
    width: auto;
  }
  .our-team-2 .member-slider::before, .our-team-2 .member-slider::after {
    content: none;
  }
  .our-team-2 .member-info {
    padding: 30px 15px;
  }
  .our-team-2 .cascade-slider_arrow {
    left: 15px;
  }
  .our-team-2 .cascade-slider_arrow.cascade-slider_arrow-right {
    right: 15px;
  }
  .event-2 .row-event:hover .event-thumb::after {
    border-right-color: #e15f00;
  }
  .refresh {
    margin-top: 20px;
  }
  .refresh .wpb_content_element {
    margin: 0 !important;
  }
  .refresh button {
    margin-top: 25px;
  }
  .services.vc_icon_element {
    margin-bottom: 30px;
  }
  .contact-box .wpb_button, .contact-box .wpb_content_element, .contact-box ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0 !important;
  }
  .features .smile_icon_list li.icon_list_item .icon_description {
    padding-top: 7px;
  }
  .smile_icon_list li .icon_description p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .features .smile_icon_list li.icon_list_item {
    margin-bottom: 35px !important;
  }
  .features .title-block {
    padding-bottom: 25px;
  }
  .game-play {
    padding-left: 15px;
    padding-right: 15px;
  }
  .border-top:after, .border-top::before {
    content: none;
  }
  .content-404 {
    padding-top: 60px;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .page-404 h1 {
    font-size: 100px;
  }
  .logo-404 img {
    width: 90px;
    height: 65px;
  }
  .app_screenshot .tp-bullets {
    margin-top: 15px !important;
  }
  .pricing-content {
    margin-bottom: 30px;
  }
  .cascade-slider_item {
    padding: 0;
  }
  .archive .blog_post .blog-main, .archive .blog_post .button-readmore {
    padding: 0 15px;
  }
  .single-product h2 span {
    margin-left: 0;
    position: relative;
    display: block;
    margin-top: 10px;
    width: 113px;
  }
  .features .smile_icon_list.right.circle.with_bg li .icon_description {
    margin-right: 3em;
    padding-right: 25px;
    margin-left: 3em;
    padding-left: 25px;
    height: 3em;
    vertical-align: middle;
    display: table-cell;
  }
  .features .smile_icon_list.circle.with_bg li .icon_description p {
    overflow: hidden;
    text-overflow: initial;
    white-space: normal;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .get-app-content a {
    margin-right: 20px;
  }
  .footer-v3 .form-newletter {
    width: 78%;
  }
}
@media (min-width: 767px) {
  .screen-default {
    margin-left: -10px !important;
  }
}
@media (min-width: 667px) {
  .app_screenshot .screen-default {
    margin-left: -6px !important;
  }
}
@media (max-width: 660px) {
  .ult_tabmenu.style3 > li.ult_tab_li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }
}
@media (max-width: 640px) {
  .services-grid .service-icon-left .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    margin-right: 0;
  }
  .services-grid .service-icon-left .services .desc {
    border-left: medium none;
    padding-left: 0;
  }
  .service-icon-left .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    float: none;
    width: 100%;
    margin-right: 0;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .service-icon-left .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner:before {
    content: none;
  }
  .service-icon-left .services .desc h3, .service-icon-left .services .desc p {
    text-align: center !important;
  }
  .startup_box {
    padding: 40px;
  }
  .btn-slider-4, .btn-slider-5 {
    font-size: 10px !important;
    padding: 7px 15px !important;
    border-width: 1px !important;
  }
  .btn-slider-4 i, .btn-slider-5 i {
    font-size: 10px !important;
  }
  .woocommerce-tabs ul.wc-tabs li {
    display: block;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .app_screenshot .title-block {
    top: 36px;
  }
  .character-info {
    width: 100%;
  }
  .img-character {
    display: none;
  }
  .footer-v1 .form-newletter .input, .footer-v1 .form-newletter {
    width: 100%;
  }
  .fancybox-inner {
    height: 100% !important;
  }
  .brands-container .owl-controls .owl-nav > div {
    top: 5px;
  }
}
@media (max-width: 600px) {
  .tp-thumbs.zeus {
    left: 0 !important;
  }
  .admin-bar .header-v5.is-sticky .header-top {
    top: 0 !important;
  }
  .admin-bar.fixed-header .header-v4.is-sticky .header-top, .admin-bar .header-v2.is-sticky .header-top {
    top: 0 !important;
  }
  .single-product.woocommerce .right_summary {
    float: left;
    text-align: left;
  }
  .admin-bar.fixed-header .header-v3.is-sticky .header-top {
    top: 0;
  }
  .single-product .images {
    float: none;
    margin-bottom: 10px;
  }
  .header-v1.is-sticky .scroll-open .menu-toggle {
    top: 35px;
  }
  .admin-bar.fixed-header .header-v1.is-sticky .header-top .main-navigation {
    top: 0;
  }
  .header-v1.is-sticky .header-top .mega-menu {
    padding-top: 90px;
  }
  .admin-bar .header-v3.is-sticky .header-top {
    top: 0;
  }
  .shop_table.cart .cart_item {
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
  }
  .shop_table.cart .cart_item:last-child {
    border-bottom: 1px solid #ddd !important;
  }
  table.shop_table.cart tr.cart_item > td {
    border-right: none;
  }
  .woocommerce table.shop_table.cart:not(.woocommerce-checkout-review-order-table):not(.order_details):not(.cart_totals_table) td {
    display: inline-block;
  }
  .woocommerce table.shop_table.cart:not(.woocommerce-checkout-review-order-table):not(.order_details):not(.cart_totals_table) tr {
    display: block;
  }
  .single-product.woocommerce .owl-controls .owl-nav > div {
    top: 36%;
  }
  .woocommerce .shop_table.cart tbody td:not(.product-remove):not(.product-add-to-cart):not(.actions) {
    padding-left: 48.5% !important;
    text-align: left;
  }
  .mobile-show {
    display: block;
  }
  .mobile-show {
    display: inline-block;
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    padding: 26px 16px 20px 20px;
    border-right: 1px solid #ddd;
  }
  .shop_table.cart thead tr th:last-child, .shop_table.cart .cart_item td:last-child {
    border-right: none !important;
  }
  .woocommerce table.shop_table.my_account_orders:not(.customer_details):not(.woocommerce-checkout-review-order-table):not(.cart) td:not(.actions) {
    border: 1px solid #ddd;
    margin-top: -1px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    display: block;
  }
  .shop_table.my_account_orders > tbody {
    border: none;
  }
  .woocommerce-account table.my_account_orders.shop_table td.order-actions .mobile-show {
    display: none;
  }
  .woocommerce-account table.my_account_orders.shop_table td.order-actions {
    text-align: center !important;
  }
  .woocommerce-account table.my_account_orders.shop_table td:not(.order-actions) {
    padding-left: 50% !important;
  }
  .woocommerce table.shop_table:not(.woocommerce-checkout-review-order-table):not(.order_details):not(.cart_totals_table) thead {
    display: none;
  }
  .woocommerce table.shop_table.order_details:not(.customer_details):not(.woocommerce-checkout-review-order-table):not(.cart) td:not(.actions) {
    display: table-cell;
  }
  .shop_table.order_details tbody tr td {
    width: 50% !important;
  }
  table tr.cart_item > td {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: inline-block;
    height: 100%;
    left: 0;
    padding: 26px 16px 20px 20px;
    position: relative;
    width: 100%;
  }
  table.woocommerce-checkout-review-order-table tr.cart_item > td {
    display: table-cell;
    width: 50%;
  }
  .shop_table .product-name img {
    float: left;
  }
  .name-item {
    margin-top: 27px;
  }
  .shop_table .cart_item {
    border-top: none !important;
  }
  .product-remove {
    text-align: center;
  }
  .btn-update-cart {
    float: left;
  }
}
@media (min-width: 568px) and (max-width: 640px) {
  .app_screenshot .screen-default h3 {
    padding-left: 50px;
  }
  .screen-default {
    margin-left: -4px !important;
  }
  .app_screenshot .screen-default h3 {
    padding-left: 50px;
  }
  .app_screenshot .screen-default a::before {
    right: 15px;
  }
  .app_screenshot .tp-bullets {
    margin-top: 25px !important;
  }
}
@media (max-width: 567px) {
  .header-v6 .right_header ul li.customlinks a.cart_label {
    margin-right: 0;
  }
  .header-v6 .right_header ul li.customlinks .shopping_bag {
    display: none;
  }
  .header-v6 .right_header ul li.customlinks .cart-block {
    right: 0;
    top: 64px;
  }
  .header-v6 .search-block-top {
    right: 80px;
  }
}
@media (max-width: 479px) {
  .fixed-header .header-v2 .header-logo {
    margin-top: 12px;
  }
  .fixed-header .header-v2 .menu-toggle {
    top: 35px;
  }
  .single-product.woocommerce h2 {
    line-height: 35px;
  }
  .fixed-header .header-v1 .header-logo {
    margin-top: 0;
  }
  .header-v1 .menu-toggle {
    top: 22px;
  }
  .header-v1 .header-top .mega-menu {
    padding-top: 73px;
  }
  .header-v6 .right_header {
    top: -93px;
  }
  .header-v6 .right_header ul li.customlinks a.cart_label {
    margin-right: 0;
  }
  .header-v6 .right_header ul li.customlinks .shopping_bag {
    display: none;
  }
  .header-v6 .right_header ul li.customlinks .cart-block {
    right: 0;
    top: 64px;
  }
  .header-v6 .top-search {
    top: 54px;
    right: -15px;
  }
  .header-v6 .search-block-top {
    right: 74px;
    top: -53px;
  }
  .header-v6 .menu-toggle {
    top: 37px;
  }
  .header-v6 .header-top .main-navigation {
    top: -87px;
  }
  .header-v6.is-sticky .header-top .main-navigation.scroll-open {
    top: -33px;
  }
  .header-v6.is-sticky .menu-toggle {
    top: 55px;
  }
  .header-v6.is-sticky .header-top .main-navigation.scroll-open .menu-toggle {
    left: 30px;
    top: 35px;
  }
  .header-v6 .main-navigation.scroll-open .menu-toggle {
    top: 30px;
    width: 40px;
    left: 30px;
  }
  .header-v6 .main-navigation.scroll-open .menu-toggle .fa-bars::after, .header-v6 .main-navigation.scroll-open .menu-toggle .fa-bars::before {
    left: -5px;
    top: 5px;
  }
  .header-v6.is-sticky .scroll-open .menu-toggle .fa-bars::after, .header-v6.is-sticky .scroll-open .menu-toggle .fa-bars::before {
    top: -11px !important;
  }
  .header-v6 .scroll-open .menu-toggle span::before {
    left: 39px;
    top: -8px;
  }
  .riven-heading.heading_style_4.padding-10 {
    padding-top: 44px;
  }
  .form-style-2 .wpcf7-form .contact-form input:not([type="submit"]) {
    width: 100%;
  }
  .form-style-2 .inner-input:nth-child(2) {
    float: left;
    width: 100%;
  }
  .form-style-2 .inner-input:first-child {
    margin-right: 0;
    width: 100%;
  }
  .portfolio-entry-wrap .item {
    width: 100%;
  }
  .our-team-2 .team_description p {
    font-size: 12px;
  }
  .team-padding .member-slider {
    bottom: -60px;
  }
  .title-block .title-style3 {
    line-height: 32px;
  }
  .header-contact .link-contact p:first-child {
    padding-right: 11px;
  }
  .header-contact .link-contact p i {
    font-size: 12px;
    margin-right: 5px;
  }
  .header-contact .link-contact p span {
    font-size: 11px;
  }
  .service-startup-bg figure {
    margin-top: -30px !important;
  }
  .header-v4 .right_header {
    display: none;
  }
  .header-v4 .header-top {
    height: 63px;
  }
  .header-v4 .header-logo {
    float: left;
    left: 15px !important;
    transform: none !important;
  }
  .header-v4 .header-logo img {
    height: 40px;
    width: 50px;
  }
  .header-v4 .menu-toggle {
    top: 22px;
    left: 6px;
  }
  .header-v4.is-sticky .header-logo img {
    width: 50px !important;
  }
  .header-v4.is-sticky .menu-toggle {
    top: 24px;
    left: 15px;
  }
  .woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5 {
    border-right: 0;
  }
  .woocommerce p.stars a {
    margin-right: 0;
  }
  .month-event h2 {
    margin-top: 40px;
  }
  .event-list li {
    margin-bottom: 12px;
  }
  .event-list-time {
    padding-right: 30px;
  }
  .single-product .left_summary .product_social {
    margin-top: 10px;
  }
  .single-product .right_summary {
    float: left;
    margin-top: 10px;
    text-align: left;
  }
  .rev_slider .btn.btn-icon {
    font-size: 8px !important;
    padding: 3px 4px 5px !important;
  }
  .rev_slider .btn.btn-icon i {
    display: none;
  }
  .brands-container .owl-controls .owl-nav > div {
    top: -6px;
  }
  .rev_slider .btn.btn-icon {
    padding: 6px 15px 5px !important;
  }
  .rev_slider .btn.btn-icon.btn-default.btn-defaut-2, .rev_slider .btn.btn-icon.btn-primary.btn-primary-2 {
    margin-top: 0 !important;
  }
  .app_screenshot .title-block {
    position: static;
  }
  .app_screenshot .screen-default {
    margin-top: 0 !important;
  }
  .app_screenshot .screen-default p {
    line-height: 17px !important;
    font-size: 12px !important;
  }
  .app_screenshot .vc_column-inner {
    padding-top: 35px !important;
  }
  .fixed-header .side-breadcrumb {
    padding-top: 85px;
  }
  .title-block h2 {
    font-size: 30px;
  }
  .get-app-content a {
    margin-right: 0;
  }
  .get-app::after {
    background: none;
  }
  .avatar_author {
    float: none;
  }
  .blog-img.blog-left {
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header-v1 .header-logo {
    left: auto;
    margin-top: 0;
    right: 15px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .header-logo img {
    height: 60px;
    width: 70px;
  }
  .comment-reply-title {
    padding-bottom: 20px;
  }
  .latest-new {
    margin-top: 70px;
  }
  .gallery button.default {
    top: 60%;
  }
  .commentlist > li {
    margin-right: 30px;
  }
  .commentlist .comment-author {
    float: none;
    margin-bottom: 15px;
  }
  .popup-content .blog-comments, .popup-top, .time-location {
    padding-left: 15px;
    padding-right: 15px;
  }
  .commentlist .children .comment-body {
    margin-left: 30px;
  }
  .tp-caption .btn-defaut-2, .tp-caption .btn-primary-2 {
    margin-top: 25px;
  }
  .main-slider p {
    line-height: 9px !important;
  }
  .riven-heading.padding-10 {
    padding-top: 28px;
    overflow: hidden;
  }
  .blog-ful .blog-main {
    padding: 15px;
  }
  .team-padding .member-slider {
    height: 311px;
  }
  .our-team-2 .member-info {
    height: 311px;
    overflow: hidden;
  }
  .cascade-slider_item {
    width: 220px;
  }
  .choose-riven .vc_tta-panels {
    height: auto;
  }
  .promo-startup h2 {
    font-size: 40px;
  }
  .promo-startup h3 {
    font-size: 30px;
  }
  .startup_box {
    padding: 30px 20px 35px;
  }
  .form-startup .form-newletter {
    width: 265px;
  }
  .btn-slide7 {
    padding: 10px 20px 8px !important;
  }
}
@media (max-width: 375px) {
  .team-padding .member-slider {
    height: 335px;
  }
  .title-block h2.title-style3 {
    font-size: 25px;
  }
  .right_header ul li.customlinks .cart-block {
    width: 285px;
  }
  .right_header ul li.customlinks .top-search {
    right: -20px;
  }
  .right_header ul li.customlinks {
    padding: 0 8px;
  }
  div.popup {
    width: 300px;
  }
  .popup-top .desc > p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .time-desc .hours {
    font-size: 16px;
  }
  .time-location {
    padding-top: 10px;
  }
  .popup-top h3 {
    font-size: 26px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .time-location {
    padding-bottom: 40px;
  }
  .comment-reply-title {
    display: block;
    overflow: hidden;
  }
  .comment-reply-title #cancel-comment-reply-link {
    width: 100%;
  }
  .commentlist > li {
    margin-right: 15px;
  }
  .app_screenshot .screen-default {
    height: 200px !important;
  }
  .app_screenshot .screen-default h3 {
    padding-left: 40px !important;
  }
  .app_screenshot .screen-default a::before {
    right: 17px;
  }
  .app_screenshot .tp-bullets {
    margin-right: 120px !important;
  }
  .banner-bottom h3 {
    font-size: 26px;
  }
  .banner-bottom .bg-gradient {
    padding: 30px 0 15px;
  }
  .banner-bottom p {
    margin-top: 4px;
  }
  .gallery button.default {
    top: 66%;
  }
  .blog-ful .title-blogpost {
    margin: 0;
  }
  .rev_slider .btn.btn-icon {
    padding: 6px 10px 5px !important;
  }
  .main-slider .btn-default.btn-defaut-2 {
    box-shadow: 0px 1px 0px 0px #272727;
  }
  .main-slider .btn-primary.btn-primary-2 {
    box-shadow: 0px 1px 0px 0px #944810;
  }
  .our-team-2 .cascade-slider_arrow {
    top: 36%;
  }
  blockquote {
    padding-left: 25px;
  }
  .form-startup .title-block h2 {
    font-size: 34px;
  }
}
@media (max-width: 320px) {
  .cascade-slider_item.next {
    left: 30%;
  }
  .cascade-slider_item.prev {
    left: 70%;
  }
  .event-list-item {
    padding: 20px 17px 22px;
  }
  .event-list-time {
    padding-right: 20px;
  }
  .gallery button.default {
    top: 68%;
  }
  .widget_post_blog .blog-info .comment {
    margin-left: 0;
    width: 100%;
  }
  .widget_post_blog .blog-info .info > p {
    margin-bottom: 0;
  }
  .app_screenshot .screen-default a::before {
    right: 15px;
  }
  .app_screenshot .screen-default h3 {
    margin-bottom: 15px !important;
  }
  .app_screenshot .screen-default p {
    margin-bottom: 8px !important;
  }
  .promo-startup h2 {
    font-size: 32px;
  }
  .promo-startup h3 {
    font-size: 24px;
  }
}
