@charset "UTF-8";
body {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color: #787878;
  line-height: 1.42857;
}
p {
  line-height: 23px;
}
h1 {
  font-family: Lato;
  color: #000;
  font-size: 48px;
}
h2 {
  font-family: Lato;
  color: #000;
  font-size: 36px;
}
h3 {
  font-family: Lato;
  color: #000;
  font-size: 20px;
}
h4 {
  font-family: Lato;
  color: #000;
  font-size: 18px;
}
h5 {
  font-family: Lato;
  color: #000;
  font-size: 16px;
}
h6 {
  font-family: Lato;
  color: #000;
  font-size: 10px;
}
.side-breadcrumb {
  background-image: url('//wp.arrowhitech.net/riven/wp-content/themes/riven/images/background/bg-breadcrumb.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: inherit;
}
.breadcrumb_5.side-breadcrumb {
  background-image: url('//wp.arrowhitech.net/riven/wp-content/themes/riven/images/background/breadcrumb_5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: inherit;
}
.footer-v1 {
  background-image: url('http://wp.arrowhitech.net/riven/wp-content/themes/riven/images/bg-footer-v1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: inherit;
}
.footer-v3 .footer-office {
  background: #0c000e;
}
