.fixed-header{
	.side-breadcrumb{
		padding-top: 146px;
	}
}
.side-breadcrumb{
	background: rgba(0, 0, 0, 0) url("../images/background/bg-breadcrumn.jpg") no-repeat scroll center center / cover ;
	padding: 10px 0 0 0;
	overflow: hidden;
	position: relative;
	margin-bottom: 70px;
	&:before{
		opacity: 0.8;
		background: #700877;
		background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
		background: -webkit-linear-gradient(90deg, #700877 0%,#ff2759 100%,#ff2759 100%);
		background: linear-gradient(90deg, #700877 0%,#ff2759 100%,#ff2759 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700877', endColorstr='#ff2759',GradientType=1 );
	}
	&:after{
		width: 100%;
		height: 5px;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background: #ff2759;
		background: -moz-linear-gradient(-45deg, #ff2759 0%, #700877 100%, #700877 100%);
		background: -webkit-linear-gradient(-45deg, #ff2759 0%,#700877 100%,#700877 100%);
		background: linear-gradient(135deg, #ff2759 0%,#700877 100%,#700877 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700877', endColorstr='#ff2759',GradientType=1 );
	}
}
.page-title{
	position: relative;
	padding-top:17px;
	h1{
		color: #fff;
		font-weight: bold;
		font-size: 36px;
		padding: 0 45px;
		position: relative;
		margin-bottom: 5px;
		display: inline-block;
		span{
			font-weight: 300;
		}
		&:before{
			content: "";
			position: absolute;
			height: 1px;
			width: 1000%;
			background: rgba(255,255,255,0.2);
			right: 100%;
			bottom:15px;
		}
		&:after{
			content: "";
			position: absolute;
			height: 1px;
			width: 1000%;
			background: rgba(255,255,255,0.2);
			left: 100%;
			bottom:15px;
		}
	}
	
}
.breadcrumb_5.side-breadcrumb{
	padding: 35px 0;
	.page-title{
		float: left;
		padding: 0;
		h1{
			padding: 0;
		}
	}
	.breadcrumb{
		float: right;
		margin-top: 10px;
		margin-bottom: 0;
		padding: 0;
	}
}
.breadcrumb_5 .breadcrumb > li + li::before{
	content: "-";
	padding: 0 15px;
}
.breadcrumb_5 .breadcrumb li{
	&:last-child{
		position: relative;
		margin-right: 18px;
		&:after{
			content: '\f178';
			right: -20px;
			font-family: fontawesome;
			position: absolute;
			top:2px;
			color: #fff;
		}
	}
}
.breadcrumb_5.side-breadcrumb::after{
	background: transparent;
}
.breadcrumb_5.side-breadcrumb .page-title h1{
	&:before, &:after{
		height: 0;
		width:0;
	}
}
.breadcrumb{
	background: none;
	li{
		font-weight: 400;
		color: #fff;
		a{
			color: #fff;
		}
	}
}
.breadcrumb > li + li::before {
  color: #fff;
  padding: 0 20px;
}
.breadcrumb_3{
	.page-title h1{
		&:after{
			height: 0;
		}
		&:before{
			height: 0;
		}
	}
}