table.shop_table{
	border:none;
	width: 100%;
	overflow: hidden;
}
.mobile-show{
	display: none;
}
.shop_table {
	tr {
		th{
			background: #f5f5f5;
			border-bottom: 1px solid #dddddd;
		    color: #000000;
		    font-weight: bold;
		    padding: 25px 20px;
		    text-transform: uppercase;
		}
	}
	> thead {
	    border-left: 1px solid #dddddd;
	    border-right: 1px solid #dddddd;
	    border-top: 1px solid #dddddd;
	}
	.cart_item {
	    border-bottom: 1px solid #dddddd;
	    border-left: 1px solid #dddddd;
	    border-right: 1px solid #dddddd;
	}
	.product-name{
		img{
			margin-right: 20px;
		}
	}
	.quantity input {
		color: #000;
	  border-bottom: 1px solid #dddddd;
	  border-top: 1px solid #dddddd;
	}
	.qty-number {
	    border: 1px solid #dddddd;
	    color: #000;
	}
}
.shop_table .product-remove a:not(.btn) {
 	 color: #dddddd;
     font-size: 24px;
    font-weight: bold;
}
.shop_table .product-remove a:hover:not(.btn) {
  color: #FF2759;
}
.woocommerce-cart .shop_table {
	.cart_item:nth-child(2n) {
	    background: #fbfbfb none repeat scroll 0 0;
	}
	tr:last-child td {
		padding: 30px 0 30px;
	}
}
.coupon {
  	display: inline-block;
 	 position: relative;
 	 width: 100%;
	 input.input-text {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    border: 1px solid #dddddd;
	    color: #8f8f8f;
	    font-size: 13px;
	    height: 40px;
	    position: relative;
	    width: 100%;
	    border-radius: 25px;
	    padding-left: 20px;
	    padding-right: 115px;
	}
	input[name="apply_coupon"] {
	  position: absolute;
	  vertical-align: top;
	  top: 0;
	  right: 0;
	  padding: 10px 20px 9px;

	}
}
.wc-proceed-to-checkout a{
	  margin-top: 30px;
}
.woocommerce-view-order .woocommerce h2 {
    color: #3a3a3b;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 22px;
}
.woocommerce{
	.my_account,.form-billing-fields,.cart_totals,header ,#customer_login{
		h2 {
		  color: #3a3a3b;
		  font-size: 18px;
		  font-weight: bold;
		  padding-top: 22px;
		  margin-bottom: 20px;
		}
	}
}
.cart_totals {
	
	 table.shop_table {
	    border:  1px solid #ddd;
	    tr {
	    	> td{
		    	border-bottom: 1px solid #ddd;
		    	border-left: 1px solid #ddd;
		    }
		    th{
		    	background: none;
		    	width: 20%;
				padding: 15px 20px;
				text-transform: capitalize;
		    }
	    }
	}
}
.cart-collaterals{
	padding-bottom: 75px;
}
.woocommerce-cart .cart_totals .shop_table tr:last-child td {
  padding: 0 20px;
}

// Checkout
.checkout{
	.shop_table tr th{
		border-right: 1px solid #ddd;
	}
}
.woocommerce {
	.woocommerce-checkout {
	  padding-top:10px;
	  padding-bottom: 75px;
	  h3 {
		  color: #3a3a3b;
		  font-size: 18px;
		  font-weight: bold;
		  margin-bottom: 33px;
		}
	}
	.select2-container .select2-choice {
	  color: #8f8f8f;
	  padding: 7px 15px 7px 23px;
	}
}
.woocommerce-account input.input-text {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #8f8f8f;
  width: 100%;
}
.woocommerce .woocommerce-billing-fields .form-row:not(.create-account) label, 
.woocommerce .woocommerce-shipping-fields .form-row:not(.create-account) label {
  display: none;
}
.shipping-calculator-form select {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/icon-arrow.png") no-repeat scroll 100% center !important;
}
.ie {
	.shipping-calculator-form select {
	  background: rgba(0, 0, 0, 0) url("../images/icon-arrow.png") no-repeat scroll 98% center !important;
	}
}
.shipping-calculator-form select,
.shipping-calculator-form input,
.woocommerce .woocommerce-billing-fields .form-row:not(.create-account) input, 
.woocommerce .woocommerce-shipping-fields .form-row:not(.create-account) input,
.woocommerce .woocommerce-billing-fields .form-row:not(.create-account) select, 
.woocommerce .woocommerce-shipping-fields .form-row:not(.create-account) select {
  background:none;
  border: 1px solid #dddddd;
  color: #2a2a2a;
  margin-bottom: -1px;
  padding: 9px 23px;
  width: 100%;
}
.woocommerce .woocommerce-checkout .woocommerce-shipping-fields textarea {
  background: none;
  border: 1px solid #dddddd;
  min-height: 98px;
  padding: 8px 23px;
  width: 100%;
}
.woocommerce .woocommerce-billing-fields .form-row:not(.create-account) .select2-container .select2-choice, 
.woocommerce .woocommerce-shipping-fields .form-row:not(.create-account) .select2-container .select2-choice {
  border-radius: 0;
  color: #2a2a2a;
  padding: 7px 15px 7px 23px;
}
.woocommerce .woocommerce-checkout input[type="checkbox"] {
  display: none;
}
.woocommerce .woocommerce-checkout .woocommerce-shipping-fields #ship-to-different-address label.checkbox {
  color: #2a2a2a;
  display: inline-block;
  font-weight: normal;
  margin-top: 0;
  vertical-align: top;
}
.woocommerce .woocommerce-checkout input[type="checkbox"] + label {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../images/csscheckbox.png");
  cursor: pointer;
  display: inline-block;
  height: 11px;
  line-height: 11px;
  padding-left: 20px;
  vertical-align: middle;
}
.woocommerce .woocommerce-checkout input[type="checkbox"]:checked + label {
  background-position: 0 -11px;
}
.woocommerce {
	.woocommerce-error{
		margin-bottom: 30px;
		li {
		  	background: #ff7f7f none repeat scroll 0 0;
		  	color: #ffffff;
		 	 margin-bottom: 5px;
		  	padding: 8px 13px 13px 9px;
			 &::before {
			    content: "\f00d ";
			    font-family: FontAwesome;
			    font-size: 20px;
			    font-style: normal;
			    font-weight: normal;
			    margin-left: 5px;
			    margin-right: 19px;
			    text-decoration: inherit;
			}
		}
	} 
}
.woocommerce-message{
	background: #ff7f7f none repeat scroll 0 0;
  	color: #ffffff;
 	 margin-bottom:10px;
  	padding: 8px 13px 13px 9px;
	 &::before {
	    content: "\f00d ";
	    font-family: FontAwesome;
	    font-size: 20px;
	    font-style: normal;
	    font-weight: normal;
	    margin-left: 5px;
	    margin-right: 19px;
	    text-decoration: inherit;
	}
}
.wc_payment_methods.payment_methods.methods > li {
    padding-top: 20px;
}
.place-order .btn{
	margin-top: 30px;
    width: 100%;
}
.order-total span{
	color: #FF2759;
}
.woocommerce .woocommerce-info {
  background-color: #f5f5f5;
  color: #3a3a3b;
  margin-bottom: 5px;
  padding: 11px 20px 13px;
  margin-bottom: 20px;
	a {
	    color: #afafaf;
	}
}
.checkout_coupon.coupon {
  width: 50%;
}
//Login
.woocommerce {
	#customer_login{
		h2{
			margin-bottom: 30px;
		}
	}
}
.woocommerce-account #customer_login .entry-title {
  margin-bottom: 25px;
}
.woocommerce form.login .form-row , 
.woocommerce form.register .form-row  {
	margin-bottom: 25px;
	input.input-text{
	  background: #ffffff none repeat scroll 0 0;
	  border: 1px solid #dddddd;
	  border-radius: 4px;
	  color: #8f8f8f;
	  width: 100%;
	  &:focus{
	  		border:1px solid #FF2759;
	  	}
	}
}
.woocommerce form.login .form-row #rememberme,
.woocommerce form.register .form-row #rememberme {
  margin: 5px 3px 0 10px;
  vertical-align: top;
  height: 15px;
}
.woocommerce form.login p.lost_password a, 
.woocommerce form.register p.lost_password a {
  color: #FF2759;
}
.woocommerce form.login .form-row, .woocommerce form.register .form-row {
  margin-bottom: 14px;
  overflow: hidden;
}

// My account
.page-my-account{
	.wrapper {
	    min-height: auto;
	    margin-bottom: 75px;
	}
}
.edit-account,
.form-billing-fields{
	.btn {
		margin-top: 20px;
	}
}
.woocommerce .woocommerce-billing-fields fieldset{
	margin-top: 30px;
}
.woocommerce .woocommerce-billing-fields fieldset .form-row:not(.create-account) label, 
.woocommerce .woocommerce-shipping-fields fieldset .form-row:not(.create-account) label{
	display: block;
}
.woocommerce header h2,
.woocommerce .my_account h2,
.woocommerce .my_account .title h2{ 
	border-bottom: 1px solid #ebebeb;
    margin-bottom: 13px;
    padding-bottom: 14px;
    padding-top: 22px;
 }
 .my_account header.title a {
  float: right;
  font-size: 12px;
  margin-top: -40px;
  color: #FF2759;
}
.about_paypal {
  float: left;
  margin-left: -20px;
  width: 100%;
}
.woocommerce-checkout-payment ul li{
	&.payment_method_paypal{
		padding-top: 0;
		label{
			color: #000;
			width: 100%;
			margin-left: 20px;
			margin-top: -36px;
		}
	}

	&.payment_method_cheque{
		label{
			color: #000;
		}
		input{
			float: left;
			height: 10px;
			margin-right: 7px;
		}
	}
}

// My order
table.my_account_orders tr th{
	width: 24%;

}
.my_account_orders{
	margin-bottom: 20px;
}
.shop_table.my_account_orders > tbody {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    tr > td {
	    padding: 17px 20px;
	}
    
}
.shop_table.my_account_orders th.order-total span{
    	color: #000;
    }
.shop_table.my_account_orders td.order-total span{
    	color: #3e454c;
    }
.order-actions a{
	 font-size: 12px;
 	 color: #FF2759;
}
mark, .mark {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #787878;
}
.order-info{
	margin-bottom: 20px;
}
.shop_table{
	&.order_details{
		margin-bottom: 30px;
		tfoot{
			border-left: 1px solid #dddddd;
		    border-right: 1px solid #dddddd;
		    border-bottom: 1px solid #dddddd;
		     tr {
		     	border-top:1px solid #ddd;
		     	th {
				  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				  border-bottom: none;
				  font-weight: 400;
				  padding: 17px 20px;
				  text-transform: capitalize;
				 }
			}
		}
		tbody{
			border-left: 1px solid #dddddd;
		    border-right: 1px solid #dddddd;
		     tr {
		     	border-top:1px solid #ddd;
		     	&:first-child{
		     		border-top:none;
		     	}
		     	td {
				  padding: 17px 20px;
				 }
			}
		}
	}
	&.customer_details{
		 tr {
		 	th {
			    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    border-bottom: medium none;
			    color: #000000;
			    font-weight: 400;
			    padding: 0;
			    text-transform: capitalize;
			}
			td{
				padding: 5px;
			}

		}
	}
}
.woocommerce-order-received{
	.order_details{
		margin-top: 20px;
	}
	.woocommerce{
		padding-bottom: 55px;
	}
}
.lost_reset_password .btn{
	margin-top: 10px;
}
.woocommerce-password-strength.good,
.woocommerce-password-strength.strong{
	color: #94C347;
  	margin-top: 10px;
}
.woocommerce-password-strength.bad,
.woocommerce-password-strength.short {
  color: #fc0002;
  margin-top: 10px;
}
.abbr[title], abbr[data-original-title] {
  border-bottom:none !important;
  text-decoration:none;
}
.chrome .shop_table.cart thead tr th:last-child,
.chrome .shop_table.cart .cart_item td:last-child{
	border-right:1px solid #ddd;
}
.woocommerce .woocommerce-error li a {
    color: #fff;
}
.lost_reset_password .btn.btn-primary{
	&:hover,&:focus,&:active,&:active:focus,&:focus:active{
		background: #700877;
	}
}
abbr[title], abbr[data-original-title]{
	border-bottom:none;
}