body, html {
  overflow-x: hidden;
}
.wp-caption.alignnone{
  width: auto !important;
}
.blog-video iframe, .iframe_video_container > iframe {
    width: 100%;
}
.title_blog span.sticky_post{
    background: #ff2759 none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    padding: 3px 10px;
    font-weight: lighter;
}
.woocommerce-MyAccount-navigation li {
 display: inline-block;
 padding-right: 25px;
}
.woocommerce-MyAccount-navigation {
 margin-bottom: 20px;
}
.woocommerce-MyAccount-navigation li.is-active a{
      font-weight: bold;
}
.portfolio_box.portfolio_box_2{
  &:before{
    background: #1b98d7;
    opacity: 0;
  }
  &:hover{
    &:before{
      opacity: 0.5;
    }
    .portfolio_bottom_content{
      bottom: 50%;
      transform:translateY(50%);
      -moz-transform:translateY(50%);
      -webkit-transform:translateY(50%);
      -o-transform:translateY(50%);
      -ms-transform:translateY(50%);
    }
  }
}
.portfolio_box.portfolio_box_2 .portfolio_bottom_content{
   bottom: 0;
   transition: all 0.3s ease-in-out 0s;
    > a{
      padding: 0 15px;
    }
   .portfolio-zoom{
    background: transparent;
    color: #ff842a;
    i{
      font-size: 30px;
    }
    &:hover{
      background: transparent;
      color: #fff;
    }
   }
}
.riven-post-like i{
  color: #ff842a;
  font-size: 30px;
  &:hover{
    color: #fff;
  }
}
table tr th a{
  color: #fff;
}
.blog_post .entry-content ul li{
  padding-left: 20px;
}
.blog_post_desc .entry-content img{
    height: auto;
}
.page-app-landing .rev_slider_wrapper .text-bg{
  color: #d15688 !important;
}
.zeus .tp-thumb.selected .tp-thumb-title{
  color: #ff2759 !important;
}
//ourteam shortcodes
.team-padding{padding-bottom: 10px;}
.team-padding .member-slider{
  position: absolute; 
  bottom: 0px;
  z-index: 10;
  left: 50%;
  width: 860px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}
.cascade-slider_item:not(.now) + .member-slider{display: none;}
.footer{clear: both;}
//testimonial rating
.review-star{
  display: inline-block;
  .review-result-wrapper{
    > i{
      color: transparent;
    } 
    position: relative;
    .review-result{
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap; 
    }
  }

}
.brands-container{
  padding: 49px 80px 29px;
    .owl-carousel .owl-item img{
      width: auto;
    }
    .owl-controls .owl-nav > div{
      position: absolute;
      color: #6b6b6b;
      top: 18px;
      border: 1px solid #ececec;
      width: 35px;
      height: 35px;
      font-size: 20px;
      line-height: 31px;
      margin:0;
      &:hover{
        color: #fff;
        border: 1px solid #ff2759;
        background-color: #ff2759;
      }
      &.owl-prev{
        left: -80px;
      }
      &.owl-next{
        right: -80px;
      }
    }

}
.testimonial-1 #review{display: none;}
//container
#main.boxed #content, .main-sidebar.col-md-9 {
	.riven-container {
    // padding-#{$left}: 0;
    // padding-#{$right}: 0;
    width: 100%;
	}
}
.event-lightbox{background: #fff;}
.pp_details{display: none;}
.riven-heading{
	background-position: center center;
    background-repeat: no-repeat;
    span{font-weight: 700;}
    &.heading_style_4{
      padding: 50px 0 43px;
      span{
            display: block;
        font-size: 10px;
        text-transform: uppercase;
        font-family: Montserrat;
        color: #232937;
        font-weight: bold;
        letter-spacing: 0.1px;
        margin-bottom: 3px;
      }
      h2{
        letter-spacing: 1.7px;
        font-size: 32px;
        color: #232937;
        font-weight: 400;
      }
    }
}
.hide-loading {
  display: none !important;
}
.f-right{float: right;}

//slider
.cascade-slider_container {
  position: relative;
  width: 925px;
  height: 550px;
  margin: 0 auto;
}

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s ease;
  opacity: 0;
  padding: 0 35px;
  z-index: -1;
}

.cascade-slider_item.next {
  left: 50%;
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.prev {
  left: 50%;
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 5;
}

.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 5;
}

.cascade-slider_arrow-left { left: 0; }

.cascade-slider_arrow-right { right: 0; }

.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover { background: #555; }

.cascade-slider_dot.cur { background: #555; }
//Scroll bar 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper {
    > .scroll-content {
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
    }
}
.scroll-wrapper {
    > .scroll-content::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner {
    > .scroll-element.scroll-y {
      border-radius: 0;
      height: 100%;
      right: 0px;
      top: 0;
      width: 3px;
    }
    > .scroll-element {
        div {
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }
        .scroll-element_outer {
            overflow: hidden;
        }
        .scroll-element_track {
         background-color: #e1e1e1; 
         width: 1px;
         left: 1px;
        }
        .scroll-bar {
           background-color: #898989;
           width: 5px;
        }
        &.scroll-draggable {
            .scroll-bar { 
                background-color: #898989; 
            }
        }
    }
}

/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
//theme unit test
table{
  border: 1px solid #e0e0e0;
  tr{
    th {
      background: rgba(0, 0, 0, 0) linear-gradient(135deg, #700877 0%, #ff2759 100%, #ff2759 100%) repeat scroll 0 0;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      padding: 15px 20px;
      text-align: left;
      width: 33%;
    }
    > td {
        color: #3e454c;
        font-weight: 400;
        padding: 10px 20px;
    }
  } 
} 
ol {
    display: block;
    list-style-type: decimal;
    margin: 16px 0;
    padding: 0 0 0 20px;
}
#content li > ol {
    margin: 0;
}
#content ol li {
    list-style-position: inside;
}
ol li {
    list-style-type: decimal;
}
.home:not(.wpb-js-composer) #main{
  padding-top: 50px;
}
//app screenshot
.screen-default{display: none;}
.screen-default.open{display: block;}
.aio-icon-header + .aio-icon-description{
  padding-left: 34px;
  margin-top: 8px;
}
.riven-container{position: relative;}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a{
    border-radius: 30px !important;
    padding:4px 17px;
    color: #ffffff;
    border:1px solid #fff !important;
    background-color: transparent;
    text-transform: uppercase;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a {
    border-color: transparent !important;
    background-color: #ff2759;
    border-radius: 30px !important;
    padding: 4px 17px;
    color: #ffffff;
    text-transform: uppercase;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a:focus, .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a:hover{
    background-color: #ff2759;
    border:1px solid transparent !important;
    border-radius: 30px !important;
}
p.color_grey{
  color: #cacaca;
}
.vc_tta-container .vc_tta-tabs .vc_tta-panel.vc_active::before, .vc_tta-container .vc_tta-tabs .vc_tta-panel.vc_active::after{
 background: transparent !important;
}
.vc_tta-tabs .vc_tta-panels, .vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after, .vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before{
  background-color: transparent !important;
  border-color: transparent !important;
}
.vc_tta-container .vc_tta-tabs .vc_tta-panel.vc_active{
  border: 0 !important;
}
.vc_tta-tabs .vc_tta-panels-container{
  margin-top: 45px;
}
.vc_tta.vc_general.vc_tta-tabs .vc_tta-panel-body{
  padding: 6px 0 25px !important;
}
.over_bottom{z-index: 100;}
.over_top{margin-top: -100px;}
.text-white{
  color: #fff;
}
/* Home 4*/
.title-block .title-style3{
  text-transform: none;
  line-height: 43px;
  margin-bottom: 15px;
}
.form-startup{
  position: relative;
  .bg-gradient:before{
    opacity: 1;
  }
  .bg-gradient:after {
      content: "";
      background: rgba(0, 0, 0, 0) url("../images/background/bg-startup-4.png") no-repeat scroll 47% 0;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
  }
  .title-block h2{
    text-transform: none;
    font-size: 48px;
    letter-spacing: 2.3px;
    margin-bottom: 17px;
  }
  .newsletter_1,.newsletter_2{
    display: none;
  }
  .text{
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .form-newletter{
    text-align: center;
    width: 360px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    .input{
      width: 100%;
      text-align: center;
      background: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      margin-bottom: 29px;
      margin-top: 23px;
      &:hover,&:focus,&:active,&:active:hover,&:active:focus,&:focus:active{
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
    .submit{
        display: block;
        height: 40px;
        width: 213px;
        border-radius: 20px;
        color: #ffffff;
        margin: 0 auto;
        border: 1px solid #fff;
        background: transparent;
        &:hover,&:focus{
          background: #fff;
          color: #1ad372; 
        }
    }
  }
}

.service-startup-bg{
  figure {
    position: relative;
    margin-top: -185px !important;
    margin-right: 234px !important;
  }
  h3{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: relative;
    text-transform: none;
    margin-bottom: 3px;
    &:before{
      width:3px;
      height: 15px;
      content: "";
      background: #1ad372;
      position: absolute;
      top: 4px;
      left: -19px;
    }
  }
  p{
    color: #797979;
    font-size: 16px;
     line-height: 24px;
    letter-spacing: -0.1px;
  }
  .desc{
    padding-left: 16px;
    position: relative;
    padding-bottom: 28px;
  }
}
.startup_box{
  background: #fff;
  padding:81px 80px 83px 95px;
  position: absolute;
  left: -95px;
  bottom: -20px;
  -webkit-box-shadow: 0 0 9px 5px  #f0f0f0;
  -moz-box-shadow: 0 0 9px 5px #f0f0f0;
  -o-box-shadow: 0 0 9px 5px #f0f0f0;
  -ms-box-shadow: 0 0 9px 5px #f0f0f0;
  box-shadow: 0 0 9px 5px #f0f0f0;
  .title-block{
    margin-bottom: 37px;
    h2{text-transform: none;}
  }
}
.desc_startup{
  font-size: 16px;
  color: #797979;
  p{
    margin-bottom: 24px;
    line-height: 24px;
  }
}

.our-solution{
  .desc_startup{
    padding-bottom: 72px;
  }
  .vc_carousel-inner img{
    height: auto;
  }
  .vc_images_carousel .vc_carousel-control{
    display: none !important;
  }
  .vc_carousel-control{
    display: none;
  }
  .vc_carousel-indicators{
    position: absolute;
    top: -46px;
  }
  .vc_images_carousel .vc_carousel-indicators {
    li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 1px;
      border-radius: 15px;
      cursor: pointer;
      border: 1px solid #1ad372;
      background: none;
      margin-right: 16px !important;
      position: relative;
      &:last-child{
        margin-right: 0;
         &:before{
          content: none;
         }
      }
      &:before{
        position: absolute;
        content: "";
        height: 1px;
        width: 21px;
        background: #1ad372;
        top: 6px;
        left: 14px;
      }
      &.vc_active:before{
        top:4px;
        left: 8px;
      }
   }
    .vc_active {
      margin: 3px;
      width: 10px;
      height: 10px;
      background: #1ad372;
      border: 1px solid #1ad372;
    }
  }
}

.service-startup{
  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon{
    font-size: 20px !important;
  }
  .text{
    text-align: center;
    line-height: 24px;
    font-size: 16px;
  }
  .services {
    margin-top: 31px;
    .desc {
      h3{
        font-size: 20px;
        margin-top: 17px; 
        margin-bottom: 13px;
      }
      p{
        line-height: 20px;
        color: #797979;
      }
    }
  }
   .services .vc_icon_element-inner span{
      font-size: 14px !important;
      color:#1ad372 !important;
    }
  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
      text-align: center;
      display: inline-block;
      border: 1px solid #1ad372;
      width: 70px;
      height: 70px;
      box-sizing: content-box;
      position: relative;
      border-radius: 50%;
      &:after{
        content: "";
        height: 64px;
        width: 64px;
        border: 1px solid #1ad372;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
      }
  }
}
.statup_smart{
  &.bg-gradient:before{
    opacity: 1;
  }
  &.bg-gradient:after {
      content: "";
      background: rgba(0, 0, 0, 0) url("../images/background/bg-startup-2.png") no-repeat scroll 47% 0;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
  }

}
.promo-startup{
  position: relative;
  z-index: 99;
  h2{
    font-size: 54px;
    font-weight: 100;
    text-transform: none;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }
  h3{
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    text-transform: none;
    margin-bottom: 22px;
  }
  .btn-default{
    padding: 8px 32px;
    background: none;
    border:1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    &:hover{
      border: 1px solid #fff;
      background: #fff;
      color: #1ad372;
    }
  }
}
.form-startup {
  .mc4wp-success > p{
   color: #fff;
 }
 .mc4wp-alert{
  text-align: center;
  padding-top: 15px;
 }
 .input.placeholder, .input.placeholder:focus, .input.placeholder:active, .input.placeholder:active:focus{
  border-bottom: 1px solid fff;
 }
}
/* Home 5*/
.delivery{
  .desc{
    margin-bottom: 41px;
  }
  .btn {
      font-size: 16px;
      text-transform: capitalize;
      padding: 7px 22px 9px 21px;
      margin-top: 24px;
      font-weight: bold;
      letter-spacing: 1px;
  }
  .style-desc{
    margin-top: 39px;
  }
}
.style-desc{
  .desc{
    h3{
      font-weight: bold;
      margin-bottom: 15px;
    }
    p{
      font-size: 16px;
      color: #797979;
      line-height: 24px;
    }
  }
}
.style-desc {
  .services {
    .desc {
      p{
        line-height: 24px;
      }
      h3{
        font-size: 20px;
      }
    }
  }
}
.img-icon-2{
      width: 58px;
    height: 58px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    line-height: 54px;
    border-radius: 50%;
    display: inline-block;
}
.amount-content-2{
  color: #fff;
  position: relative;
  .amount-desc{
    h3{
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      margin-top: 24px;
      sup{
        font-size:18px;
      }
    }
    h5{
      font-size: 14px;
      color: #b0d0f6;
      font-weight: 400;
      margin-top: -3px;
    }
  }
  &:after{
    height: 20px;
    width: 1px;
    color: #b0d0f6;
    content: "";
    position: absolute;
    bottom: -48px;
    background: #fff;
    left: 50%;
    transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
  }
}
.service-icon-left {

  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner{
    text-align: left;
    float: left;
    margin-right: 62px;
    position: relative;
    width: 55px;
    height: auto;
    border: none;
    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 71px;
      background: #3c98ec;
      height: 50px;
      width: 3px;
    }
    .vc_icon_element-icon{
      position: static;
      transform:none !important;
    }
  }
  &:last-child{
    .services{
      &.vc_icon_element{
        margin-bottom: 42px;
      }
    }
  
  }
   .services.vc_icon_element{
      margin-bottom: 46px;
    }
  .services {
    .vc_icon_element-inner span{
      font-size: 48px !important;
    }
    .desc {
      overflow: hidden;
      h3{
        margin-bottom: 3px;
        margin-top: -2px;
      }
    }
  }
}
.our-experienced{
  .text{
    font-size: 16px;
    color: #797979;
    line-height: 24px;
    padding: 20px 0;
  }
}
.blog-content-2{
  border: 1px solid #ebebeb;
  .blog-date{
    font-size: 12px;
    font-weight: bold;
  }
  .title-blogpost{
    margin-top: 2px;
    a{
      color: #292929;
      font-weight: 400;
    }
  }
  .blog_post_desc {
    color: #8f8f8f;
    padding: 12px 0 25px;
  }
  .blog-main{
    padding: 17px 32px 0;
  }
  &:hover{
    .title-blogpost a{
      color: #3c98ec
    }
  }
}
.img-abs.wpb_single_image.img-abs-right img{
  max-width: 100%;
}
.img-abs.wpb_single_image.img-abs-right {
    bottom: -111px;
    left: auto;
    z-index: 1;
    right: 70px;
}
.wpb_content_element.bg-bottom-bussiness{
  margin-bottom: -3px;
}
.twitter-tweet .tweet-text p{
  color: #3c98ec;
}

.service-startup .icon-style-2 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner:after{
  content: none;
}
.service-startup .icon-style-2 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
  border: 1px solid #3c98ec;
    width: 56px;
    height: 56px;
}
.service-startup .icon-style-2 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon{
  font-size: 25px !important;
  color: #3c98ec !important
}
.service-startup .icon-style-2 .services .desc p{line-height: 24px; font-size: 16px;}
.service-startup .icon-style-2 .services .desc h3 {
    margin-top: 28px;
    margin-bottom: 16px;
}
.content-overview{
  margin-top: 140px;
  padding-bottom: 95px;
  padding-right: 100px;
  .desc{
    font-size: 16px;
    color: #565656;
    margin-bottom: 24px;
    z-index: 9;
    position: relative;
    p{
      margin-bottom: 24px;
      line-height: 24px;
    }
    &:before{
      background: rgba(0, 0, 0, 0) url("../images/bg-title-7.png") no-repeat scroll 0 0;
      content: "";
      height: 160px;
      left: 2px;
      position: absolute;
      top: -48px;
      width: 142px;
      z-index: -1;
    }
  }
}
.img-right-abs2{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn.btn-style-2 {
    padding: 20px 29px 19px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
}
.text-white{
  .riven-heading.heading_style_4 h2,
  .riven-heading.heading_style_4 span{
    color: #fff;
  }
}
.content-box-new{
  position: relative;
  z-index: 9;
  color: #fff;
  margin-bottom: 69px;
  padding-right: 400px;
  h4{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 9px;
  }
  p{
    font-size: 16px;
    line-height: 24px;
  }
  &:nth-child(2){
    padding-left: 194px;
    padding-right: 200px;
  }
  &:nth-child(3){
    padding-left: 95px;
    padding-right: 300px;
  }
}
.img-left-abs2 {
  bottom: -35px;
  left: -27px;
  position: absolute;
}
.speaker-features {
  .smile_icon_list li .icon_description h3{
     margin-bottom: 12px;
  }
  .smile_icon_list li .icon_list_icon{
      height: 66px !important;
      width: 66px !important;
      line-height: 66px !important; 
      margin-top: 5px;
  }
  .smile_icon_list.right li .icon_description {
    padding-right: 37px;
  }
  .smile_icon_list li.icon_list_item{
    margin-bottom: 41px !important;
  }
  .smile_icon_list.left li .icon_description{
    padding-left: 29px;
  }
}
.latest-review.type2{
    .review-result{
      font-size: 12px;
      color: #f59601 !important;
    }
  .testimonial-content .testimonial-desc{
    padding-top: 12px;
  }
  .owl-carousel{margin-top: 35px;}
  .testimonial-content {
    margin-bottom: 92px;
  }
  .btn.btn-style-2 {
    padding: 20px 25px 19px;
  }
}
.riven-overview {
  margin-top: -35px;
}
.ie{
  .img-right-abs2{
    left:0;
    right: auto;
  }
  .content-overview {
      margin-top: 140px;
      padding-bottom: 95px;
      padding-right: 100px;
  }
    .product_layout_2.product-shortcode ul.products > li .box_product .add_to_cart_button {
      top: 0px;
      padding: 11px 0;
      text-align: center;
      height: 40px;
      display: inline-block;
      width: 132px !important;
  }

}
.ajax_add_to_cart.loading{
  position: relative;
}
.chrome{
  .header-v6 .right_header ul li.customlinks .shopping_bag > span{
    font-weight: 400;
  }
}
