.banner-bottom-2{
	background: #3c98ec;
	.btn-default{
		&:hover{
			border-color: #fff;
		}
	}
}
.single-portfolio-content .owl-theme .owl-dots .owl-dot{
	span{
		height: 15px;
		width: 15px;
		border: 1px solid #3c98ec;
		background: transparent;
	}
	&.active{
		margin-bottom: 2px;
		span{
			height: 10px;
			width: 10px;
			border-color: transparent;
		}
	}
}
.portfolio-showcase .button-group{
	button{
		background: transparent;
		border: 0;
		padding: 0 18px;
		color: #828282;
		font-size: 16px;
		&.is-checked{
			color: #000;
			position: relative;
			&:after{
				bottom: -15px;
			    background: #3c98ec;
			    content: "";
			    height: 2px;
			    left: 0;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    width: 20px;
			}
		}
	}
}
.portfolio-showcase{
	margin-bottom: 100px;
}
.single-portfolio #main > .container{
	margin-bottom: 100px;
}
.single-portfolio-content .portfolio-thumbnail img{
	width: 100%;
	height: auto;
}
.single-portfolio-content .button_preview{
	text-transform: capitalize;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 25px 9px;
	display: inline-block;
	margin-top: 30px;
}
.portfolio-title{
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 33px;
}
.portfolio-client{
	margin-top: 40px;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 45px;
}
.content_client, .content_tools{
	margin-top: 10px;
	font-size: 16px;
	color: #797979;
	a{
		color: #3c98ec;
		margin-left: 10px;
		cursor: pointer;
		&:hover{
			color: #3c98ec;
		}
	}
}
.portfolio-tools{
	padding-top: 45px;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.title_client, .title_tools{
	font-weight: bold;
	font-size: 20px;
	color: #000;
}
.portfolio-gallery .owl-carousel .owl-item img{
	width: auto;
}
.portfolio-entry-wrap{
	margin-top: 85px;
}
.portfolio-loadmore{
	margin-top: 50px;
	.btn{
		text-transform: capitalize;
		font-size: 16px;
    	padding: 8px 21px;
    	font-weight: bold;
    	letter-spacing: 1px;
	}
}
.portfolio_box{
	.portfolio_bottom_content{
	    opacity: 0;
	    position: absolute;
	    text-align: center;
	    width: 100%;
	    z-index: 9;
	    bottom: 0;
	    .portfolio-zoom{
    	    color: #fff;
		    font-size: 24px;
		    background: #3c98ec;
		    height: 55px;
		    width: 55px;
		    margin-right: -3px;
		    display: inline-block;
		    text-align: center;
		    line-height: 55px;
	    	&:hover{
	    		background: #fff;
	    		color: #2a2a2a;
	    	}
	    }
	    .portfolio-link{
	    	font-size: 24px;
	    	background: #fff;
	    	color: #2a2a2a;
	    	height: 55px;
		    width: 55px;
		    display: inline-block;
		    text-align: center;
		    line-height: 55px;
	    	&:hover{
	    		background: #3c98ec;
	    		color: #fff;
	    	}
	    }
	}
	.portfolio_info_box{
		opacity: 0;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 100%;
	    z-index: 9;
	    .portfolio_top_content{
	    	.name-portfolio{
	    		position: relative;
	    		color: #fff;
	    		text-transform: uppercase;
	    		font-size: 24px;
	    		font-weight: bold;
	    		&:after{
	    			background: #3c98ec none repeat scroll 0 0;
				    bottom: -15px;
				    content: "";
				    height: 3px;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
				    overflow: hidden;
				    position: absolute;
				    transition: width 0.3s ease-in-out 0s;
				    width: 0;
	    		}
	    	}
	    	.portfolio-category{
	    		margin-top: 20px;
	    		font-size: 14px;
	    		color: #8f8f8f;
	    		text-transform: capitalize;
	    	}
	    }
	}
	&:before{
			background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: 0;
		    opacity: 0;
		    padding: 0;
		    position: absolute;
		    top: 0;
		    transition: all 0.3s ease-in-out 0s;
		    width: 100%;
		    z-index: 1;
		}
	&:hover{
		.portfolio_bottom_content{
			opacity: 1;
		}
		.portfolio_info_box{
			opacity: 1;
			.portfolio_top_content{
		    	.name-portfolio{
		    		&:after{
					    width: 27px;
		    		}
		    	}
		    }	
		}
		&:before{opacity: 1;}
	}
}