.pricing-content {
	text-align: center;
	background: #fff;
	border: 1px solid #e1e1e1;
	&:before{
		opacity: 0;
	}
	&:hover{
		padding: 1px;
		border: none;
		&:before{
			opacity: 1;
		}
		h3{
			color: #ff2759
		}
		.price{
			&:before{
				opacity: 1;
			}
		}
		.price-box {
			border-color: #fff;
		}
		.pricing-sign{
			.btn{
			    background: #ff2759;
			    color: #fff;
			}
		}
	}
	h3 {
	    text-transform: uppercase;
	    font-weight: 400;
	    margin: 28px 0 29px;
	}
	.price{
		background: #ebebeb;
		padding: 9px 0 ;
		overflow: hidden;
		&:before{
			opacity: 0;
  			background: #700877;
			background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
			background: -webkit-linear-gradient(90deg, #700877 0%,#ff2759 100%,#ff2759 100%);
			background: linear-gradient(90deg, #700877 0%,#ff2759 100%,#ff2759 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700877', endColorstr='#ff2759',GradientType=1 );
		}
	}
	.price-box {
	    width: 132px;
	    height: 132px;
	    margin: 0 auto;
	    border-radius: 50%;
	    border: 1px solid transparent;
	    position: relative;
	    &:before{
	    	position: absolute;
	    	content: "";
	    	left: 5px;
	    	right:5px;
	    	top: 5px;
	    	bottom: 5px;
	    	background: #fff;
	    	border-radius: 50%;
	    }
	}
	.price-center {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    span {
		    font-size: 40px;
		    color: #ff2759;
		    font-weight: bold;
		    line-height: 100%;
		    display: block;
		}
		p {
		    font-weight: 300;
		    color: #818181;
		    margin: 0;
		}
	}
}
.box-info {
    position: relative;
    background: #fff;
    overflow: hidden;
}
.pricing-desc{
	padding-top: 30px;
	position: relative;
    background: #fff;
}
.pricing-list{
	li {
	    padding-bottom: 21px;
	    color: #000;
	    i{
	    	color: #7cc613;
	    	margin-right: 6px;
	    }
	    &.erro{
	    	color: #a7a7a7;
	    	i{
	    		color: #ff2759;
	    	}
	    }
	}
}
.pricing-sign{
	padding-bottom: 30px;
	position: relative;
    background: #fff;
	.btn{
	    padding: 9px 46px 10px;
	    border-radius: 25px;
	    border: 1px solid #ff2759;
	    text-transform: uppercase;
	    color: #ff2759;
	}
}