.testimonials{
	&:before{
		opacity: 0.85;
	}
	.owl-controls .owl-nav > div {
	  border: none;
	  border-radius: 0;
	  color: #fff;
	  display: inline-block;
	  height: auto;
	  line-height: 100%;
	  width: auto;
	  font-size: 30px;
	  margin: 0 6px;
	  &.owl-prev{
	  	i:before{
		  	content: "\e687";
		  }
	  }
	  &:hover{
	  	font-size: 37px;
	  }
	  i{
	  	margin: 0 !important;
	  	&:before{
		  	font-family: Pe-icon-7-stroke;
		  	content: "\e685";
		  }
		}
	}
}
.testimonial-content {
    text-align: center;
    margin-bottom: 43px;
    .name {
	    font-weight: 900;
	    color: #fff;
	    margin-top: 28px;
    	font-size: 18px;
	    margin-bottom: 3px;
	    text-transform: uppercase;
	}
	.job {
	    color: #fff;
	    margin-bottom: 39px;
	    text-transform: uppercase;
	    font-size: 15px;
	    font-weight: 300;
	}
}
.testimonial-profile {
    width: 156px;
    height: 156px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #fff;
    .testimonial-img {
	    border-radius: 50%;
	    border: 5px solid #fff;
	    width: 141px !important;
	    height: 141px;
	    margin: 7px;
	}
}
.team_description p {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.testimonial{
	.owl-carousel .owl-controls {
	  height: 32px;
	  margin-top: 0;
	}
}
.latest-review{
	.team_description {
		margin-top: 5px;
		p {
		    font-size: 13px;
		    font-weight: 400;
		    font-style: normal;
		    color: #3d3d3d;
		    width: 100%;
		  	line-height: 20px;
		 }
	}
	.owl-carousel{
		width: 747px;
		margin: 0 auto;
		margin-top: 46px;
	}
	.testimonial-content {
    	margin-bottom: 100px;
    	position: relative;
    	.testimonial-desc{
    		padding: 15px 20px 30px;
    		border: 1px solid #e1e1e1;
    		background: #fff;
    	}
    	.name {
		    font-weight: 700;
		    color: #444444;
		    margin-top: 10px;
		    margin-bottom: 0;
		    text-transform: none;
		    font-size: 16px;
		}
	}
	.testimonial-profile {
	    width: 74px;
	    height: 74px;
	    border: none;
	    .testimonial-img {
		    border: 1px solid #ebebeb;
		    width: 74px !important;
		    height: 74px;
		    margin: 0;
		}
	}
	.review-star {
	    margin-right: 15px;
	}
	.vote-point {
	    display: inline-block;
	    color: #a5a5a5;
	    font-size: 12px;
	    font-weight: 900;
	    span{
	    	color: #000;
	    }
	}
	.testimonial-sticky {
	    position: absolute;
	    left: 50%;
	    bottom: -80px;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
	.testimonial .owl-carousel .owl-controls {
	    height: auto;
	    margin-top: 0;
	}
	.owl-controls .owl-nav {
		> div {
		    width: 50px;
		    height: 110px;
		    border-radius: 0;
		    border: 1px solid #e1e1e1;
		    color: #b8b8b8;
		    line-height: 100%;
		    background: #fff;
		    margin: 0;
		    position: absolute;
		    top: 0;
		    left: -60px;
		    font-size: 16px;
		    i {
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%,-50%);
			    -moz-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			    -o-transform: translate(-50%,-50%);
			    transform: translate(-50%,-50%);
			    &:hover{
			    	opacity: 0.4;
			    }
			}
			&:hover,
			&:active{
				color:#000;
			}
		}
		.owl-next{
			right: -60px;
			left: auto;
		}
	}
}
.our-team .owl-controls .owl-nav > div.owl-next i{margin-left:3px;}