.video-home{
	.bg-gradient{
		&:before{
			opacity: 0.8
		}
	}
}
.video-container{
	color: #fff;
	text-align: center;
	position: relative;
	a,
	h2{
		color: #fff;
		font-weight: 300;
		text-transform: none;
		margin-top: -10px;
		span{
			font-weight: bold;
		}
	}
}
.btn-play{
	  display: inline-block;
	  height: 94px;
	  position: relative;
	  text-indent: -9999em;
	  width: 94px;
	 &::before {
	  border: 1px solid #ffffff;
	  border-radius: 50%;
	  color: #ffffff;
	  content: "\e624";
	  font-family: Pe-icon-7-stroke;
	  font-size: 40px;
	  height: 76px;
	  left: 50%;
	  line-height: 72px;
	  position: absolute;
	  text-align: center;
	  text-indent: 9px;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -moz-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  -o-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  width: 76px;
	}
	&::after {
	  border: 3px solid #ffffff;
	  border-radius: 50%;
	  content: "";
	  height: 94px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 94px;
	}
}
.fancybox-overlay{
	z-index: 9999;
}
.fancybox-opened {
  z-index: 99999;
}
.get-app {
	position: relative;
	&.bg-gradient{
		&::before{
			opacity: 1;
		}
	}
	&:after{
		content: "";
		background: rgba(0, 0, 0, 0) url("../images/background/bg-app.png") no-repeat scroll 47% 0;
		position: absolute;
		height: 100%;
		width:100%;
		bottom: 0;
		left: 0;
	}
}
.get-app-content{
	position: relative;
	text-align: center;
	z-index: 9;
	.text{
		color: #ffffff;
	}
	a{
		margin-top: 32px;
		text-align: left;
		margin-right: 40px;
		font-weight: 300;
		span{
			text-transform: uppercase;
			font-weight: 400;
			font-size: 20px;
		}
		&:last-child{
			margin-right: 0;
		}
		&.btn.btn-icon{
			padding: 17px 30px 18px 91px;
		    border-radius: 39px;
		    line-height: 20px;
		    position: relative;
		    text-transform: normal;
		}
		&.btn-icon-1{
			&:before{
				height: 55px;
				width: 55px;
				content: "";
				background: url("../images/icon-bt-1.png");
				top:12px;
				left:16px;
				position: absolute;
			}
		}
		&.btn-icon-2{
			&:before{
				top:12px;
				left: 16px;
				position: absolute;
				height: 55px;
				width: 55px;
				content: "";
				background: url("../images/icon-bt-2.png");
			}
		}
	}
}