
//SKIN

//General
$general_bg_color: #f2f2f2;
$general_bg_image: url('');
$general_bg_repeat: no-repeat;
$general_bg_osition: center center;
$general_bg_size: inherit;
$general_bg_attachment: inherit;
$general_font_family: Lato;
$general_font_weight: 400;
$general_font_size: 14px;
$general_font_color: #787878;
$general_line_height: 23px;
$primary_color: #ff2759;
$highlight_color: #700877;
//Footer
$footer_bg_color: #0c000e;
$footer_bg_image: url('http://wp.arrowhitech.net/riven/wp-content/themes/riven/images/bg-footer-v1.jpg');
$footer_bg_repeat: no-repeat;
$footer_bg_position: center center;
$footer_bg_size: cover;
$footer_bg_attachment: inherit;
//Breadcrumb
$breadcrumb_bg_image: url('//wp.arrowhitech.net/riven/wp-content/themes/riven/images/background/bg-breadcrumb.jpg');
$breadcrumb_bg_repeat: no-repeat;
$breadcrumb_bg_position: center center;
$breadcrumb_bg_size: cover;
$breadcrumb_bg_attachment: inherit;
//breadcumb header 5
$breadcrumb_bg_image_5: url('//wp.arrowhitech.net/riven/wp-content/themes/riven/images/background/breadcrumb_5.jpg');
$breadcrumb_bg_repeat_5: no-repeat;
$breadcrumb_bg_position_5: center center;
$breadcrumb_bg_size_5: cover;
$breadcrumb_bg_attachment_5: inherit;

//Typography
$h1_font_family: Lato;
$h1_font_size: 48px;
$h1_font_color: #000000;
$h2_font_family: Lato;
$h2_font_size: 36px;
$h2_font_color: #000000;
$h3_font_family: Lato;
$h3_font_size: 20px;
$h3_font_color: #000000;
$h4_font_family: Lato;
$h4_font_size: 18px;
$h4_font_color: #000000;
$h5_font_family: Lato;
$h5_font_size: 16px;
$h5_font_color: #000000;
$h6_font_family: Lato;
$h6_font_size: 10px;
$h6_font_color: #000000;