.footer-v2 {
	background: #e15f00;
	color:#fff;
	width: 100%;
	position: relative;
	.newsletter_1{
		display: none;
	}
	.newsletter_2{
		width: 50%;
		float: left;
		text-align: left;
		padding-left: 186px;
		h2{
			padding-bottom: 0;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 400;
			margin-bottom: 0;
		}
		p {
		    color: #fff;
		    font-size: 14px;
		    font-weight: normal;
		    text-transform: none;
		} 
	}
	.form-newletter{
		width:50%;
		float: left;
	}
	.top-footer{
		padding: 59px 0 2px;
		border-bottom: 1px solid rgba( 255 , 255 , 255 , 0.2 );
	}
	.form-newletter{
		position: relative;
		.input{
			width:100%;
			padding-left:25px;
			padding-right: 120px;
		}
		.submit{
			background: #3d3d3d;
			color: #fff;
			font-weight: 400;
			padding:10px 20px;
			position: absolute; 
			right: 0;
			top:0;
			border-radius: 18px;
			border:none;
		}
	}
	address{
		color:#ffe0c9;
		padding-top: 26px;
	    margin-bottom: 23px;
		a{
			&:focus,
			&:hover{
				color: #fff;
			}
		}
	}
}
.form-newletter{
	.input{
		height: 40px;
		background: #fff;
		border-radius: 18px;
		border:1px solid #e1e1e1;
	}
}
.copyright{
	address{
		font-weight: 300;
		span{
			font-weight: 400;
		}
	}
}
.bg-footer-2{
	width: 180px;
	height: 280px;
	position: absolute;
	background: url("../images/background/img-footer.png") no-repeat;
	left: 0;
	top:-168px;
}