.admin-bar .header-v4 .header-top{
	top: 32px;
}
.header-v4{
	.header-top {
		padding-left:35px;
		padding-right: 35px;
	}
	.right_header{
		margin-top: 63px;
	    margin-left: 38px;
	    float:right;
	    a{
	    	background: #1ad372;
		    border-radius: 30px;
		    padding: 10px 20px;
		    color: #fff;
		    font-size: 16px;
		    font-weight: 400;
		    letter-spacing: 0.5px;
		    &:hover{
		    	color: #1ad372;
		    	background: #fff;
		    }
	    }
	}
	.mega-menu > li > a::before{
		bottom: 34px;
	}
	&.is-sticky{
		.mega-menu > li > a::before{
			bottom: 0;
		}
	}
	.header-logo{
		margin-top: 26px;
	}
	&.bg-gradient::before{
		opacity: 1;
	}
    .main-navigation{
    	text-align:right;
    	padding-top: 0;
    	.menu-primary-menu-container{
    		float: right;
    		margin-right:18px;
    	}    	
    }
	.mega-menu {
		> li{
			display: inline-block;
			position: relative;
			a{
				color:#2f2f2f;
				text-transform: none;
				padding:63px 23px;
				display: block;
				font-weight: 400;
				font-size: 16px;
			}
			&:last-child{
				a{
					padding-right: 0;
				}
			}
		}
		li{
			&:hover{
				> ul{
				    opacity: 1;
				    visibility: visible;
				    -webkit-transform: translateY(0);
				    -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				    -o-transform: translateY(0);
				    transform: translateY(0);
				}
			}
			.caret{
				display: none;
			}
			ul{
				transition: all 0.3s ease-in-out 0s;
			    position: absolute;
			    left: 0;
			    width: 200px;
			    top: 103%;
			    background: #f9f9f9;
			    text-align: left;
			    opacity: 0;
			    visibility: hidden;
			    z-index: 9;
			    -moz-transform: translateY(25px);
			    -webkit-transform: translateY(25px);
			    -ms-transform: translateY(25px);
			    -o-transform: translateY(25px);
			    transform: translateY(25px);
			    li{
			    	display: block;
			    	&:last-child{
			    		ul{
				    		right: 100%;
				    		left: auto;
				    	}
			    	}
			    	a{  
			    		color: #000;
			    		padding: 10px 25px;
			    		font-size: 13px;
			    	}
			    	ul{
			    		left: 100%;
			    		top: 0;
			    	}
			    }
			}
		}
	}
	.header-sticky-logo{
		display: none;
	}
}
.header-v4.is-sticky {
	.header-top {
	  width: 100%;
	  z-index: 9999;
	  top: 0;
	  position: fixed;
	  background: #f9f9f9;
	}
	.header-logo {
	    margin-top: 0;
	    position: static;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	    img{
	    	height: 70px;
	    	width: 85px;
	    }
	}
	.main-navigation {
	    padding-top: 0;
	}
	.mega-menu > li > a {
	  padding-top:27px;
	  padding-bottom: 27px;
	}
	.right_header {
		  margin-top: 27px;
	}
}
.admin-bar .header-v4.is-sticky .header-top{
	top:32px;
}
.fixed-header {
	.header-v4 {
		.header-logo {
		  margin-top: 40px;
		  left: 15px;
		  -webkit-transform: none;
		  -moz-transform: none;
		  -ms-transform: none;
		  -o-transform: none;
		  transform: none;
		}
		.main-navigation .menu-primary-menu-container{
			margin-right: 18px;
		}
		.mega-menu li ul {
			top:75%;
		}
		&.is-sticky{
			.header-logo {
   				 margin-top: 3px;
   			}
   			.mega-menu li ul {
			    top: 100%;
			}
		}
	}
}
.admin-bar.fixed-header .header-v4 .header-top {
  top: 0;
}
.admin-bar.fixed-header .header-v4.is-sticky .header-top {
  top: 32px;
}
