.admin-bar .header-v3 .header-top{
	top: 32px;
}
body:not(.fixed-header) .header-v3 .mega-menu > li > a::before{
	bottom: -5px;
}

.right_header{
	float:right;
	margin-top: 26px;
	ul{
		li.customlinks{
			display: inline-block;
			padding: 0 15px;
			position: relative;
			.cart-block {
			    -moz-border-bottom-colors: none;
			    -moz-border-left-colors: none;
			    -moz-border-right-colors: none;
			    -moz-border-top-colors: none;
			    background: #f5f5f5 none repeat scroll 0 0;
			    border-color: -moz-use-text-color #d5d5d5 #d5d5d5;
			    border-image: none;
			    border-radius: 0;
			    border-style: none solid solid;
			    border-width: medium 1px 1px;
			    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
			    display: block;
			    float: none;
			    left: auto;
			    margin: 0;
			    opacity: 0;
			    padding: 0;
			    position: absolute;
			    right: 15px;
			    top: 30px;
			    transform: translate(0px, 20px);
			    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
			    visibility: hidden;
			    width: 337px;
			    z-index: 9999;
			    text-align: center;
			}
			.mini-cart .cart-block.active {
			    border-radius: 0;
			    opacity: 1;
			    transform: translate(0px, 0px);
			    visibility: visible;
			}
			.number-product{
				border-radius: 100%;
			    color: #ffffff;
			    font-size: 10px;
			    height: 15px;
			    line-height: 13px;
			    padding-right: 4px;
			    position: absolute;
			    right: 7px;
			    top: 11px;
			    width: 15px;
			    background: #700877;
			}
			.btn-search{cursor: pointer;}
			.top-search {
			    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    opacity: 0;
			    position: absolute;
			    right: 15px;
			    top: 30px;
			    transform: scale(0);
			    transition: all 0.5s ease-in-out 0s;
			    visibility: hidden;
			    width: 250px;
			    z-index: 99;
			    button{
			    	border: 0 none;
				    position: absolute;
				    right: 15px;
				    top: 15px;
				    background: transparent;
				    i{
				    	color: #ff2759;
				    }
			    }
			}
			.search-block-top .active.top-search {
			    opacity: 1;
			    transform: scale(1);
			    visibility: visible;
			}
			.search-block-top{
				input.search-input{
					background: transparent none repeat scroll 0 0;
				    position: absolute;
				    right: 0;
				    text-indent: -99999em;
				    top: 5px;
				    z-index: 9999;
				}
			}
			i{color: #fff; font-size: 15px;}
			.dropdown-menu {
			    display: block;
			    opacity: 0;
			    transform: translate(0px, 20px);
			    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
			    visibility: hidden;
			    position: absolute;
			    left: auto;
			    right: 0;
			    top:30px;
			    background-color: #fff;
			    width: 120px;
			    text-align: left;
			    z-index: 99;
			    li{
			    	a{display: block;
    				padding: 6px 13px;}
			    }
			}
			&.open{
				.dropdown-menu {
				    opacity: 1;
				    transform: translate(0px, 0px);
				    visibility: visible;
				}
			}
		}
	}
}
.header-v3{
	&.is-sticky{
		.mega-menu > li > a::before{
			bottom: -5px;
		}
	}
	.header-logo {
	    margin-top: 2px;
	    img{
	    	max-height: 70px;
	    	max-width: 85px;
	    }
	}
	&.bg-gradient::before{
		opacity: 1;
	}
    .main-navigation{
    	text-align:right;
    	padding-top: 0;
    	.menu-primary-menu-container{
    		float: right;
    		margin-right:18px;
    	}    	
    }
	.mega-menu {
		> li{
			display: inline-block;
			position: relative;
			a{
				color:#fff;
				text-transform: uppercase;
				padding:27px 18px;
				display: block;
				font-weight: 300;
				font-size: 15px;
				&:hover{
					color: $primary_color;
				}
			}
			&:last-child{
				a{
					padding-right: 0;
				}
			}
		}
		li{
			&:hover{
				> ul{
				    opacity: 1;
				    visibility: visible;
				    -webkit-transform: translateY(0);
				    -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				    -o-transform: translateY(0);
				    transform: translateY(0);
				}
			}
			.caret{
				display: none;
			}
			ul{
				transition: all 0.3s ease-in-out 0s;
			    position: absolute;
			    left: 0;
			    width: 200px;
			    background: #f9f9f9;
			    text-align: left;
			    opacity: 0;
			    visibility: hidden;
			    z-index: 9999;
			    -moz-transform: translateY(25px);
			    -webkit-transform: translateY(25px);
			    -ms-transform: translateY(25px);
			    -o-transform: translateY(25px);
			    transform: translateY(25px);
			    li{
			    	display: block;
			    	&:last-child{
			    		ul{
				    		right: 100%;
				    		left: auto;
				    	}
			    	}
			    	a{  
			    		text-transform: capitalize;
			    		color: #000;
			    		padding: 10px 20px;
			    		font-size: 14px;
			    		&:hover{
			    			color: #ff2759;
			    		}
			    	}
			    	ul{
			    		left: 100%;
			    		top: 0;
			    	}
			    }
			}
		}
	}
	.header-sticky-logo{
		display: none;
	}
}
.header-v3.is-sticky {
	.header-top {
	  width: 100%;
	  z-index: 9999;
	  top: 0;
	  position: fixed;
	  background: -moz-linear-gradient(-45deg, #700877 0%, #ff2759 100%, #ff2759 100%);
		background: -webkit-linear-gradient(-45deg, #700877 0%,#ff2759 100%,#ff2759 100%);
		background: linear-gradient(135deg, #700877 0%,#ff2759 100%,#ff2759 100%);
	}
	.header-logo {
	    margin-top: 0;
	    position: static;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	    img{
	    	max-height: 70px;
	    	max-width: 85px;
	    }
	}
	.main-navigation {
	    padding-top: 0;
	}
	.mega-menu > li > a {
	  padding-top:27px;
	  padding-bottom: 27px;
	}
	.right_header {
		  margin-top: 26px;
	}
}
.admin-bar .header-v3.is-sticky .header-top{
	top:32px;
}
.fixed-header {
	.header-v3:not(.is-sticky) .header-top{
			padding-top: 23px;
		}
	.header-v3 {
		.header-logo {
		  left: 15px;
		  -webkit-transform: none;
		  -moz-transform: none;
		  -ms-transform: none;
		  -o-transform: none;
		  transform: none;
		}
		.main-navigation .menu-primary-menu-container{
			margin-right: 18px;
		}
		&.is-sticky{
			.header-logo {
   				 margin-top: 0;
   			}
		}
	}
}
.admin-bar.fixed-header .header-v3 .header-top {
  top: 0;
}
.admin-bar.fixed-header .header-v3.is-sticky .header-top {
  top: 32px;
}