.admin-bar .header-v6 .header-top{
	top: 32px;
}
.header-v6{
	.header-contact{
		background: #232937;
		padding: 12px 0 2px;
		.header-social {
		    margin-top: 5px;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 300;
		}
	}
	.right_header ul li.customlinks{
		a.cart_label{
			background: #ff842a;
			border-radius: 100%;
			display: block;
		    height: 40px;
		    line-height: 40px;
		    text-align: center;
		    width: 40px;
		    float: left;
		    margin-right: 10px;
		}
		.cart-block {
			top: 69px;
		}
		.shopping_bag{
			float: right;
			.number-product{
				position: inherit;
			} 
			> span{
				font-size: 13px;
				text-transform: uppercase;
				color: #232937;
				font-weight: 300;
			}
			p{
				margin-top: -3px;
				color:#ff842a;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 900;
			}
		}
	}
	.right_header {
	    margin-top: 30px;
	}
	.link-contact{
		a{
			span{
				letter-spacing: 0.2px;
				color: #fff;
				font-weight: 300;
				&.pe-7s-headphones{
					margin-right: 11px;
					position: relative;
					top: 4px;
				}
				span{
					font-weight: 700;
				}
			}
			&:hover{
				color: #1b98d7;
			}
		}
	}
	.header-social{
		ul{
			li{
				a{
					color: #fff;
					&:hover{
						color: #1b98d7;
					}
				}
			}
		}
	}
	.search-block-top{
		color: #232937;
	}
	.mega-menu > li > a::before{
		bottom: -5px;
	}
	.header-logo{
		margin-top: 20px;
	}
	.right_header ul li.customlinks{
		padding:0;
	}
	&.bg-gradient::before{
		opacity: 1;
	}
    .main-navigation{
    	text-align: center;
    	padding-top: 0;
    	.menu-primary-menu-container{
    		float: right;
    	}    	
    }
	.mega-menu {
		> li{
			display: inline-block;
			position: relative;
			> a{
				&:after{
					content: "";
					height: 5px;
					width: 70%;
					background: $primary_color;
					position: absolute;
					bottom: 20px;
					overflow: hidden;
					right: 0;
					opacity: 0;
					transition: width 0.4s ease-in-out 0s;
					-moz-transition: width 0.4s ease-in-out 0s;
					-ms-transition: width 0.4s ease-in-out 0s;
					-o-transition: width 0.4s ease-in-out 0s;
					-webkit-transition: width 0.4s ease-in-out 0s;

				}
			}
			a{
				color: #232937;
			    display: block;
			    font-size: 14px;
			    font-weight: 700;
			    letter-spacing: 0.3px;
			    padding: 39px 30px 40px;
			    text-transform: uppercase;
				&:hover{
					color:$primary_color;
					&:after{
						width: 5px;
						opacity: 1;
						right: 20px;
					}
				}
							
			}
			&.opn-active-menu a:after{
				content: "";
				height: 5px;
				width: 5px;
				position: absolute;
			    bottom: 29px;
   				 right: 20px;
   				 opacity: 1;
			}
			&:first-child{
				> a{
					padding-left: 0;
				}
			}
		}
		li{
			&:hover{
				> ul{
				    opacity: 1;
				    visibility: visible;
				    -webkit-transform: translateY(0);
				    -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				    -o-transform: translateY(0);
				    transform: translateY(0);
				}
			}
			.caret{
				display: none;
			}
			ul{
				transition: all 0.3s ease-in-out 0s;
			    position: absolute;
			    left: 0;
			    width: 200px;
			    background: #f9f9f9;
			    text-align: left;
			    opacity: 0;
			    visibility: hidden;
			    z-index: 9999;
			    -moz-transform: translateY(25px);
			    -webkit-transform: translateY(25px);
			    -ms-transform: translateY(25px);
			    -o-transform: translateY(25px);
			    transform: translateY(25px);
			    li{
			    	display: block;
			    	&:last-child{
			    		ul{
				    		right: 100%;
				    		left: auto;
				    	}
			    	}
			    	a{  
			    		color: #000;
			    		padding: 10px 25px;
			    		font-size: 13px;
			    		&:hover{
			    			color: #3c98ec;
			    		}
			    	}
			    	ul{
			    		left: 100%;
			    		top: 0;
			    	}
			    }
			}
		}
	}
	.header-sticky-logo{
		display: none;
	}
}
.header-v6.is-sticky {
	.header-top {
	  width: 100%;
	  z-index: 9999;
	  top: 0;
	  position: fixed;
	  background: #f9f9f9;
	}
	.mega-menu > li.opn-active-menu a:after{
		bottom: 20px;
	}
	.header-logo {
	    margin-top: 7px;
	    position: static;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	.right_header ul li.customlinks .cart-block {
	  top: 56px;
	}
	.top-search{
		top: 46px;
	}
	.main-navigation {
	    padding-top: 0;
	}
	.mega-menu > li > a {
	  padding-top:27px;
	  padding-bottom: 27px;
	}
	.right_header {
		  margin-top: 18px;
	}
	.search-block-top > .btn-search {
	  padding: 41px 0 27px 20px;
	}
}
.admin-bar .header-v6.is-sticky .header-top{
	top:32px;
}
.fixed-header {
	.header-v6 {
		.header-logo {
		  margin-top: 30px;
		  left: 15px;
		  -webkit-transform: none;
		  -moz-transform: none;
		  -ms-transform: none;
		  -o-transform: none;
		  transform: none;
		}
		.main-navigation .menu-primary-menu-container{
			margin-right: 18px;
		}
		.mega-menu li ul {
			top:75%;
		}
		&.is-sticky{
			.header-logo {
   				 margin-top: 0;
   			}
   			.mega-menu li ul {
			    top: 100%;
			}
		}
	}
}
.admin-bar.fixed-header .header-v6 .header-top {
  top: 0;
}
.admin-bar.fixed-header .header-v6.is-sticky .header-top {
  top: 32px;
}
.header-v6{
	.widget_shopping_cart_content ul li .remove i:hover {
	    color: $primary_color;
	}
	.main-navigation{
		display: inline-block;
	}
	.search-block-top{
		display: inline-block;
		position: relative;
		> .btn-search{padding: 41px 0 41px 20px;}
	}
	.btn-search{cursor: pointer;}
	.top-search {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    opacity: 0;
	    position: absolute;
	   	right: 0;
   		top: 59px;
	    transform: scale(0);
	    transition: all 0.5s ease-in-out 0s;
	    visibility: hidden;
	    width: 250px;
	    z-index: 99;
	    button{
	    	border: 0 none;
		    position: absolute;
		    right: 15px;
		    top: 15px;
		    background: transparent;
		    i{
		    	color: #ff2759;
		    }
	    }
	}
	.search-block-top .active.top-search {
	    opacity: 1;
	    transform: scale(1);
	    visibility: visible;
	}
	.search-block-top{
		input.search-input{
			background: transparent none repeat scroll 0 0;
		    position: absolute;
		    right: 0;
		    text-indent: -99999em;
		    top: 5px;
		    z-index: 9999;
		}
	}
}