.admin-bar .header-v5 .header-top{
	top: 32px;
}
/*
.mega-menu > li.current-menu-parent > a::before{
	width: 100%;
}
*/
.mega-menu > li:last-child > a:before{
	left: 10px;
}
.header-contact{
	background: #f2f2f2;
    padding: 12px 0 0px;
	.header-social{
		text-align: right;
		margin-top: 4px;
		ul{
			li{
				display: inline-block;
				padding-left: 22px;
				a{
					i{
						color: #3c98ec;
						font-size: 16px;
					}
				}
			}
		}
	}
	.link-contact p{
		display: inline-block;
		&:first-child{
			padding-right: 37px;
		}
		span{
			color: #aeaeae;
			font-size: 13px;
		}
		i{
			color: #3c98ec;
			font-size: 13px;
			margin-right: 10px;
		}
	}
}
.header-v5{
	.mega-menu > li > a::before{
		bottom: -5px;
	}
	.header-logo{
		margin-top: 26px;
	}
	&.bg-gradient::before{
		opacity: 1;
	}
    .main-navigation{
    	text-align:right;
    	padding-top: 0;
    	.menu-primary-menu-container{
    		float: right;
    	}    	
    }
	.mega-menu {
		> li{
			display: inline-block;
			position: relative;
			a{
				color:#2f2f2f;
				text-transform: capitalize;
				padding:41px 16px;
				display: block;
				font-weight: 400;
				font-size: 16px;
				&:hover{
					color: #3c98ec;
				}
			}
			&:last-child{
				a{
					padding-right: 0;
				}
			}
		}
		li{
			&:hover{
				> ul{
				    opacity: 1;
				    visibility: visible;
				    -webkit-transform: translateY(0);
				    -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				    -o-transform: translateY(0);
				    transform: translateY(0);
				}
			}
			.caret{
				display: none;
			}
			ul{
				transition: all 0.3s ease-in-out 0s;
			    position: absolute;
			    left: 0;
			    width: 200px;
			    background: #f9f9f9;
			    text-align: left;
			    opacity: 0;
			    visibility: hidden;
			    z-index: 9999;
			    -moz-transform: translateY(25px);
			    -webkit-transform: translateY(25px);
			    -ms-transform: translateY(25px);
			    -o-transform: translateY(25px);
			    transform: translateY(25px);
			    li{
			    	display: block;
			    	&:last-child{
			    		ul{
				    		right: 100%;
				    		left: auto;
				    	}
			    	}
			    	a{  
			    		color: #000;
			    		padding: 10px 25px;
			    		font-size: 13px;
			    		&:hover{
			    			color: #3c98ec;
			    		}
			    	}
			    	ul{
			    		left: 100%;
			    		top: 0;
			    	}
			    }
			}
		}
	}
	.header-sticky-logo{
		display: none;
	}
}
.header-v5.is-sticky {
	.header-top {
	  width: 100%;
	  z-index: 9999;
	  top: 0;
	  position: fixed;
	  background: #f9f9f9;
	}
	.header-logo {
	    margin-top: 12px;
	    position: static;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	.main-navigation {
	    padding-top: 0;
	}
	.mega-menu > li > a {
	  padding-top:27px;
	  padding-bottom: 27px;
	}
	.right_header {
		  margin-top: 26px;
	}
}
.admin-bar .header-v5.is-sticky .header-top{
	top:32px;
}
.fixed-header {
	.header-v5 {
		.header-logo {
		  margin-top: 30px;
		  left: 15px;
		  -webkit-transform: none;
		  -moz-transform: none;
		  -ms-transform: none;
		  -o-transform: none;
		  transform: none;
		}
		.main-navigation .menu-primary-menu-container{
			margin-right: 18px;
		}
		.mega-menu li ul {
			top:75%;
		}
		&.is-sticky{
			.header-logo {
   				 margin-top: 0;
   			}
   			.mega-menu li ul {
			    top: 100%;
			}
		}
	}
}
.admin-bar.fixed-header .header-v5 .header-top {
  top: 0;
}
.admin-bar.fixed-header .header-v5.is-sticky .header-top {
  top: 32px;
}