
.mega-menu > li > ul{
	border-top: 2px solid $primary_color;
}
.header-v2 .mega-menu > li > a::before{
	bottom: 10px;
	left: 10px;
}
.header-v2 .mega-menu > li > a:hover::before{width: 89%;}
.mega-menu > li.opn-active-menu > a{
	&:before{
		width: 100%;
	}
	color: $primary_color;
}
.header-v2 .mega-menu > li.opn-active-menu > a::before{
	width: 89%;
}
.scroll-open{
	.mega-menu > li > ul{
		border-top: 0;
	}
} 
