.social-networks{
	li{
		border: 1px solid transparent;
	    border-radius: 50%;
	    float: left;
	    height: 40px;
	    padding: 4px;
	    width: 40px;
		a{
			color: #fff;
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
			margin-right: 10px;
			border-radius: 50%;
			font-size: 13px;
			display: block;
			background: #405e94;
		}
		&:hover{
			border: 1px solid #405e94;
			i{
				animation: 0.3s ease-in-out 0s normal none 1 running icon-social-hover;
				-ms-animation: 0.3s ease-in-out 0s normal none 1 running icon-social-hover;
				-moz-animation: 0.3s ease-in-out 0s normal none 1 running icon-social-hover;
				-webkit-animation: 0.3s ease-in-out 0s normal none 1 running icon-social-hover;
				-o-animation: 0.3s ease-in-out 0s normal none 1 running icon-social-hover;
			}
		}
		&.social-gg{
			a{
				background: #e3563b;
			}
			&:hover{
				border: 1px solid #e3563b;
			}
		}
		&.social-twitter{
			a{
				background: #55acee;
			}
			&:hover{
				border: 1px solid #55acee;
			}
		}
		&.social-linkedin{
			a{
				background: #087ec6;
			}
			&:hover{
				border: 1px solid #087ec6;
			}
		}
		&.social-youtube{
			a{
				background: #c4302b;
			}
			&:hover{
				border: 1px solid #c4302b;
			}
		}
	}
}
@-moz-keyframes icon-social-hover {
 from   { -moz-transform: translateY(15px)}
 to   { -moz-transform: translateY(0); }
}
@-webkit-keyframes icon-social-hover {
 from  {-webkit-transform: translateY(15px)}
 to   {-webkit-transform: translateY(0);}
}
@-o-keyframes icon-social-hover {
 from   { -o-transform: translateY(15px)}
 to   { -o-transform: translateY(0); }
}
@-ms-keyframes icon-social-hover {
 from  {-ms-transform: translateY(15px)}
 to   {-ms-transform: translateY(0);}
}
@keyframes icon-social-hover {
 from  {transform: translateY(15px)}
 to   {transform: translateY(0);}
}
.widget{
	padding-bottom: 30px;
	margin-bottom: 25px;
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	&:first-child{
		margin-top: -3px;
	}
	&:last-child{
		border-bottom: none;
	}
	.title-block{
	  color: #000;
	  font-size: 16px;
	  font-weight: bold;
	  padding-bottom: 28px;
	  text-transform: uppercase;
	}
	&.widget_search{
		padding-bottom: 40px;
	}
	&.widget_archive{
		padding-bottom: 28px;
		margin-bottom: 30px;
	}
	select{
		width:100%;
		margin-top: 10px;
		outline: none;
		padding-right: 30px;
		option{
			padding: 10px;
			outline: none;
		}
	}
}
.searchform{
	width: 100%;
	position: relative;
	.search-btn{
		border: none;
		color: #888888;
		position: absolute;
		top:14px;
		right:17px;
		background: none;
	}
}
.search-field {
	border: 1px solid #ebebeb;
	border-radius: 50px;
	color:#888;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	padding-right: 40px;
	font-weight: 400;
}
.widget_meta,
.widget_pages,
.widget_nav_menu,
.widget_archive{
	.title-block{
		padding-bottom: 21px;
	}
	li{
		padding-bottom: 9px;
		a{
			color: #4d4d4d;
			font-weight: 400;
			&:hover{
				color:#ff2759;
			}
		}
		&:last-child{
			padding-bottom: 0;
		}

	}
}
.widget_categories{
	.title-block{
		padding-bottom: 21px;
	}
	li{
		padding-bottom: 9px;
		&:last-child{
			padding-bottom: 5px;
		}

	}
}
.widget_post_blog{
	.post-name{
		a{
			margin-bottom: 6px;
		    font-size: 16px;
		    margin-top: -4px;
		    display: block;
		    line-height: 19px;
		    font-weight: 300;
		}
	}
	.blog-img{
		overflow: hidden;
		float: left;
		margin-right: 15px;
		border-radius: 10px;
		img{
			border-radius: 10px;
		}
	}
	.blog-item{
		padding-bottom: 30px;
		&:last-child{
			padding-bottom: 0;
		}
		&:hover{
			.post-name a{
				color:#ff2759;
			}
			.hover-link{
				&:before{
					opacity: 1;
				    transform: translate(-50%, -50%) rotate(0);
				    -ms-transform: translate(-50%, -50%) rotate(0);
				    -moz-transform: translate(-50%, -50%) rotate(0);
					-o-transform: translate(-50%, -50%) rotate(0);
					-webkit-transform: translate(-50%, -50%) rotate(0);
				}
				&:after{
					opacity: 1;
				    transform: translate(-50%, -50%) rotate(0);
				    -ms-transform: translate(-50%, -50%) rotate(0);
				    -moz-transform: translate(-50%, -50%) rotate(0);
					-o-transform: translate(-50%, -50%) rotate(0);
					-webkit-transform: translate(-50%, -50%) rotate(0);
				}
			}
		}
	}
	.blog-info{
		font-size: 12px;
		color: #686868;
		.info{
			> p{
				float: left;
			}
			i{
				margin-right:7px; 
			}
		}
		.comment {
		  float: right;
		  margin-top:3px;
		  a{
		  	color: #868686;
		  	&:hover{
		  		color: #ff2759
		  	}
		  }
		}
	}
}
.tagcloud{
	a{
		color:#979797;
		padding: 4px 14px 5px;
		border: 1px solid #d7d7d7;
		margin-right: 7px;
		margin-bottom: 10px;
		font-size: 14px !important;
		border-radius: 15px;
		display: inline-block;
		font-weight: 300;
		&:hover{
			color:#ff2759;
			border: 1px solid #ff2759;
		}
	}
}
.widget_tag_cloud{
	padding-bottom: 20px;
}
.recentcomments{
	position: relative;
	color:#c5c5c5;
	a {
	    color: #4d4d4d;
	}
	&:before{
		content: "\f0e6";
		position: absolute;
		color: #c5c5c5;
		font-family:fontawesome;
		left: 0;
		top:10px;
	}
}
.widget_recent_comments{
	.title-block{
		padding-bottom: 12px;
	}
	li{
		padding: 9px 0;
		padding-left: 25px;
		border-bottom:1px dotted #ebebeb;
		a{ 
			color: #4d4d4d;
			font-weight: 400;
			&:hover{
				color:#ff2759;
			}
		}
		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
		}

	}
}
.widget_rss{
	.title-block{
		padding-bottom: 20px;
		a{
			margin-right: 7px;
		}
	}
	li{
		padding-bottom:20px;
		overflow: hidden;
		.rsswidget{
			float: left;
			width:100%;
			font-weight: bold;
		}
		&:last-child{
			padding-bottom: 0;
		}
	}
	.rss-date {
	  float: left;
	  font-size: 12px;
	  font-style: italic;
	  font-weight: 700;
	  margin: 10px 0;
	}
	cite {
	  float: left;
	  padding-top: 10px;
	}
	.rssSummary{
		float: left;
	}
}
.widget_text{
	.title-block{
		padding-bottom: 15px;
	}
	.wp-caption{
		.size-large {
		  height: auto !important;
		  margin-top: 10px;
		}
	}
}
.textwidget{
	img{
		margin: 12px 0;
	}
}
.widget_calendar{
	.title-block{
		padding-bottom: 10px;
	}
	table{
		width: 100%;
		background: #f5f5f5;
		caption{
			color: #ff2759;
			font-weight: bold;
			text-align: center;
		}
		th,td {
		  text-align: center;
		}
		th{
			 color: #000000;
		    overflow: hidden;
		    padding: 12px 0;
		    width: auto;
		}
		td{
			padding:5px 0;
			color:#4d4d4d;
		}
		tfoot{
			td{
				text-align: left;
				a{
					margin-left: 10px;
					color: #ff2759;
					display: block;
					margin-bottom: 12px;
				}
			}
		}
	}
}
.widget_nav_menu{
	ul.sub-menu{
		padding-top: 10px;
	}
	.menu{
		li{
			position:relative;
			p{
				cursor: pointer;
				color: #ff2759;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.widget{
	&.widget_event_blog {
		.title-block{
			padding-bottom: 22px;
		}
		.title-eventpost a{
			margin-bottom: 5px;
		}
		.event-list li:last-child{
			margin-bottom: -11px;
		}
	}
	&.widget_categories {
		padding-bottom: 20px;
		li {
			position: relative;
			transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
			-ms-transition: all 0.3s ease-in-out 0s;
			-webkit-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			a{
				font-size: 16px; 
				font-weight: 300;
			}
			&:hover,&:focus{
				padding-left: 24px;
				a{
					color:#ff2759;
				}
				&:before{
					left:0;
					width: 15px;
					opacity: 1;
				}
			}
			&:before{
			transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
			-ms-transition: all 0.3s ease-in-out 0s;
			-webkit-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
				content: "";
				width:0;
				height: 3px;
				background: #ff2759;
				position: absolute;
				top: 12px;
				left:-25px;
				opacity: 0;
			}
		}
		ul{
			padding-left: 0;
		}
	}
}